// stylelint-disable at-rule-blacklist

.contribution-form {
    position: relative;
    padding: 20px;
    background-color: $white;
    border: 1px solid $green-darkest;

    .project-information__incentive__overlay {
        display: none;
    }

    .button_action {
        margin-top: 20px;
    }

    .button_action + .transaction-beacon {
        margin-top: 20px;
    }

    .transaction-beacon {
        max-height: 0;
        margin-top: 0;
    }

    .transaction-beacon_active {
        max-height: 30px;
        margin-top: 20px;
    }

    .transaction-beacon__beacon {
        background: $green-medium;
        box-shadow: 0 0 0 rgba(25, 178, 102, 0.4);
    }

    .transaction-beacon__text {
        max-height: 0;
        color: $green-medium;
    }

    .transaction-beacon__text_active {
        max-height: 30px;
    }
}

.contribution-form__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: transparent;
}

.contribution-form__close-button__span {
    position: absolute;
    top: 14px;
    display: block;
    width: 18px;
    height: 1px;

    &::before,
    &::after {
        position: absolute;
        left: 0;
        width: 18px;
        height: 1px;
        content: "";
        background-color: $green-darkest;
    }

    &::before {
        top: -5px;
        transform: rotate(45deg);
    }

    &::after {
        bottom: -5px;
        transform: translateY(-10px) rotate(-45deg);
    }
}

.contribution-form__header {
    @extend .heading_02;
    margin-bottom: 20px;
}

.contribution-form__paragraph_confirm {
    color: $green-medium;
}

.contribution-form__paragraph_confirm + .project-information__incentive {
    margin-top: 10px;
}
