// stylelint-disable at-rule-blacklist

.explore-blocks {
    .row_global {
        justify-content: center;
    }
}

.explore-blocks__item {
    @include flex-grid-column(12);
    margin-bottom: 20px;

    @include breakpoint(medium) {
        @include flex-grid-column(6);
    }

    @include breakpoint(large) {
        @include flex-grid-column(5);
        margin-bottom: 0;
    }
}

.explore-blocks__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-blocks__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    background-color: $green-darkest;

    @include breakpoint(large) {
        padding: 0 50px;
    }
}

.explore-blocks__icon {
    max-width: 80px;
    margin: 0 auto;
    fill: $green-light;
}

.explore-blocks__icon + .explore-blocks__header {
    margin-top: 20px;
}

.explore-blocks__header,
.explore-blocks__p {
    color: $green-light;
}

.explore-blocks__header {
    @extend .subheading_01;
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.explore-blocks__header + .explore-blocks__p {
    margin-top: 14px;
}

.explore-blocks__p {
    @extend .paragraph_01;
    text-align: center;
}

.explore-blocks__frame {
    width: 100%;
}
