// stylelint-disable at-rule-blacklist

.footer {
    margin-top: 80px;
}

.footer__list {
    position: relative;
    width: 100%;
    overflow: scroll;
    font-size: 0;
}

.footer__list__inner {
    display: flex;
    white-space: nowrap;
}

.footer__item {
    width: 50%;
    padding: 24px 20px 20px;

    @include breakpoint(medium) {
        width: 25%;
    }

    @include breakpoint(large) {
        width: 20%;
    }

    &:nth-child(5n - 9) {
        background-color: $green-darkest;
    }

    &:nth-child(5n - 8) {
        background-color: $green-darker;
    }

    &:nth-child(5n - 7) {
        background-color: $green-dark;
    }

    &:nth-child(5n - 6) {
        background-color: $green-medium;
    }

    &:nth-child(5n - 5) {
        background-color: $green-light;
    }
}

.footer__item__time {
    @extend .navigation_01;
    color: $white;
}

.footer__item__detail {
    @extend .paragraph_01;
    margin-top: 0 !important;
    overflow: hidden;
    color: $white;
    text-overflow: ellipsis;
}
