// stylelint-disable at-rule-blacklist

.four-block-layout {
    display: block;
    padding: 80px 0 50px;

    @include breakpoint(large) {
        padding: 80px 0;
    }
}

.four-block-layout__col {
    @include flex-grid-column(12);
    margin-bottom: 30px;

    @include breakpoint(medium) {
        @include flex-grid-column(6);
    }

    @include breakpoint(large) {
        @include flex-grid-column(3);
        margin-bottom: 0;
    }
}

.four-block-layout__header {
    @include flex-grid-column(12);
    @include flex-grid-row;
    @extend .subheading_01;
    display: block;
}

.four-block-layout__header + .row_global {
    margin-top: 14px;
}

.four-block-layout__image {
    height: 140px;
    overflow: hidden;
    background-color: $green-darkest;
}

.four-block-layout__img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.four-block-layout__image + .four-block-layout__name {
    margin-top: 20px;
}

.four-block-layout__name {
    @extend .navigation_01;
    display: block;
    cursor: pointer;
    transition: 0.2s color;

    &:hover {
        color: $green-medium;
    }
}

.four-block-layout__name + .four-block-layout__p {
    margin-top: 5px;
}

.four-block-layout__p {
    @extend .paragraph_01;
}
