// stylelint-disable at-rule-blacklist

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding-top: 40px;

    @include breakpoint(medium) {
        padding-top: 80px;
    }
}

.header__sticky {
    position: fixed;
    width: 100%;
}

.header__inner {
    @include flex-grid-column(12);
    @include flex-grid-row;
}

.header__logo {
    width: 80px;
    height: 80px;

    .letters {
        fill: $green-darkest;
        /* stylelint-disable */
        path {
            transition: fill 0.2s;
        }
        /* stylelint-enable */

        .m {
            transition-delay: 0.1s;
        }

        .a {
            transition-delay: 0.2s;
        }

        .r {
            transition-delay: 0.3s;
        }

        .b {
            transition-delay: 0.4s;
        }

        .l {
            transition-delay: 0.5s;
        }

        .e {
            transition-delay: 0.6s;
        }
    }

    .cage {
        stroke: $black;
        stroke-width: 0.5;
    }
}

.header__logo_active {
    .letters {
        fill: $white;

        .m {
            transition-delay: 0.6s;
        }

        .a {
            transition-delay: 0.5s;
        }

        .r {
            transition-delay: 0.4s;
        }

        .b {
            transition-delay: 0.3s;
        }

        .l {
            transition-delay: 0.2s;
        }

        .e {
            transition-delay: 0.1s;
        }
    }
}

.header__navigation {
    display: inline-block;
    margin-right: 0;
    margin-left: auto;
    font-size: 0;
}

.header__navigation__item {
    display: inline-block;
}

.header__navigation__item + .header__navigation__item {
    margin-left: 20px;
}

/* stylelint-disable */
.header__hamburger {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
    background-color: $green-darkest;
    border: 0;
    border-radius: 50%;

    &::before {
        position: absolute;
        left: -65px;
        top: 14px;
        content: "Menu";
        @extend .navigation_01;
        transition: 0.8s color;
    }

    &::after {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        z-index: -1;
        width: 4000px;
        height: 4000px;
        margin: 0 auto;
        content: "";
        background-color: inherit;
        border-radius: 200%;
        backface-visibility: hidden;
        perspective: 1000;
        pointer-events: none;
        transform-origin: center center;
        transform: translate(-49.5%, -50%) scale(0.005);
        transition: transform 0.8s;
    }

    &:hover span {
        width: 18px;
    }

    span,
    span::before,
    span::after {
        position: absolute;
        right: 0;
        display: block;
        // width: 30px;
        height: 1px;
        cursor: pointer;
        content: "";
        background: $green-light;
        border-radius: 1px;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, background-color 0.3s ease-in-out, width 0.3s;
    }

    span {
        width: 12px;
        right: 11px;

        &::before {
            top: -5px;
            width: 18px;
        }

        &::after {
            bottom: -5px;
            width: 18px;
        }
    }
}

.header__hamburger[aria-expanded="true"],
.header__hamburger.active {
    span {
        background-color: transparent;

        &::before,
        &::after {
            top: 0;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            top: 10px;
            transform: translateY(-10px) rotate(-45deg);
        }
    }

    &::before {
        color: $green-light;
    }

    &::after {
        transform: translate(-49.5%, -50%) scale(1);
    }
}
/* stylelint-enable */

.header__menu {
    position: fixed;
    top: 120px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: calc(100% - 160px);
    padding-top: 30px;
    overflow: scroll;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s opacity, 0.8s visibility;

    @include breakpoint(medium) {
        top: 160px;
        height: calc(100% - 160px);
        padding-top: 0;
    }

    @include breakpoint(large) {
        overflow: hidden;
    }
}

.header__menu_active {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}

.header__menu__row {
    position: relative;
    height: 100%;
}

.header__menu__nav-wrap {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-column(2);
    }

    @include breakpoint(xlarge) {
        @include flex-grid-column(2);
    }
}

.header__menu__nav-wrap,
.header__menu__main,
.header__menu__sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: 30px;
    overflow: scroll;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s opacity, 0.3s visibility;

    &.active {
        height: auto;
        visibility: visible;
        opacity: 1;
    }

    @include breakpoint(medium) {
        padding-top: 100px;
    }

    @include breakpoint(large) {
        position: static;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
}

.header__menu__header,
.purchase-form__header {
    @extend .navigation_01;
    color: $white;
}

.header__menu__header + .header__menu__copy {
    margin-top: 5px;
}

.header__menu__header + .header__nav {
    margin-top: 20px;
}

.header__nav__item {
    @extend .heading_01;
    display: block;
    color: $white;
    cursor: pointer;
    transition: 0.2s color;

    &:hover {
        color: $green-light;
    }
}

.header__nav__item + .header__nav__item {
    margin-top: 10px;
}

.header__menu__copy {
    @extend .paragraph_01;
    color: $white;
}

.header__menu__main {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-column(7);
    }

    @include breakpoint(xlarge) {
        @include flex-grid-column(7);
    }
}

.header__menu__user {
    padding-bottom: 20px;
    border-bottom: 2px solid $white;

    @include breakpoint(medium) {
        display: flex;
    }
}

.header__menu__user + .header__menu__related {
    margin-top: 20px;
}

.header__menu__headshot {
    width: 160px;
    height: 160px;
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 50%;

    @include breakpoint(medium) {
        margin: auto;
    }
}

.header__menu__headshot__img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.header__menu__user__details {
    @include breakpoint(medium) {
        flex: 1;
        padding-left: 30px;
    }
}

.header__menu__user__name {
    @extend .heading_02;
    color: $white;
}

.header__menu__user__name + .header__menu__user__title {
    margin-top: 10px;
}

.header__menu__user__title + .header__menu__header {
    margin-top: 20px;
}

.header__menu__header + .header__menu__wallet {
    margin-top: 10px;
}

.header__menu__wallet {
    @extend .heading_02;
    display: flex;
    align-items: center;
    color: $white;
    vertical-align: middle;
}

.header__menu__wallet__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: text-bottom;
    fill: $green-light;
    transition: 0.2s fill;
}

.header__menu__wallet__value {
    min-width: 57px;
    overflow: hidden;
}

.header__menu__wallet__value_dollar {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    transition: 0.2s margin;
}

.header__menu__wallet__dollar-sign {
    display: inline-block;
    margin-right: 10px;
    font-size: rem-calc(30px);
    line-height: rem-calc(30px);
    color: $green-medium;
}

.header__menu__wallet__button {
    @extend .button_main;
    margin: 0 0 0 auto;
}

.header__menu__tabs {
    display: flex;
    padding: 0 10px 10px;
    border-bottom: 1px solid $white;
}

.header__menu__tab {
    padding: 0 20px;
    appearance: none;
    color: $white;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    transition: 0.2s color;

    &:hover {
        color: $green-medium;
    }

    &:nth-child(1) {
        padding: 0 20px 0 0;
    }
}

.header__menu__tab_active {
    color: $green-light !important;
}

.header__menu__tab + .header__menu__tab {
    border-left: 1px solid $white;
}

.header__related__lists-wrap {
    position: relative;
}

.header__related__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s opacity, 0.2s visibility;
}

.header__related__list_active {
    position: static;
    height: auto;
    visibility: visible;
    opacity: 1;
}

.header__related__item {
    padding: 16px 0;

    @include breakpoint(medium) {
        display: flex;
    }
}

.header__related__transaction {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .header__transaction__value,
    .header__transaction__time {
        width: 33.333333%;
    }

    &:nth-child(odd) {
        background-color: $green-darker;
    }
}

.header__transaction__value {
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: rem-calc(14px);
    font-weight: 500;
    line-height: (40 / 30);
    color: $white;
    letter-spacing: rem-calc(2px);
}

.header__transaction__icon {
    display: inline-block;
    width: 16px;
    margin-right: 10px;
    fill: $white;
}

.header__transaction__time {
    text-align: right;
}

.header__related__image {
    width: 100%;
    height: 140px;
    overflow: hidden;
    background-color: $green-medium;

    @include breakpoint(medium) {
        width: 150px;
        height: 100px;
    }
}

.header__related__image + .header__related__details {
    margin-top: 20px;

    @include breakpoint(medium) {
        margin-top: 0;
    }
}

.header__related__img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.header__related__details {
    flex: 1;

    @include breakpoint(medium) {
        padding-left: 15px;
    }
}

.header__menu__sidebar {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-column(3);
    }

    @include breakpoint(xlarge) {
        @include flex-grid-column(2);
        @include grid-column-offset(1);
    }

    .purchase-form__header + .purchase-form__form {
        margin-top: 20px;
    }

    .label_global + .purchase-form__exchange {
        margin-top: 10px;
    }

    .purchase-form__label {
        position: relative;
    }

    .purchase-form__label_dollar::before {
        @extend .navigation_01;
        position: absolute;
        top: 14px;
        left: 10px;
        color: $green-light;
        content: "$";
    }

    .purchase-form__exchange {
        @extend .heading_02;
        color: $green-light;
    }

    .purchase-form__exchange + .purchase-form__button {
        margin-top: 10px;
    }

    .purchase-form__button {
        @extend .button_action;

        &.button_action_processing {
            color: $green-darkest;
            background-color: $green-darker;
        }
    }

    .purchase-form__button + .transaction-beacon {
        margin-top: 20px;
    }
}

.header__menu__mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    font-size: 0;
    visibility: hidden;
    border-top: 1px solid $white;
    opacity: 0;
    transition: 0.8s opacity, 0.8s visibility;

    @include breakpoint(large) {
        display: none;
    }
}

.header__menu__mobile-nav_active {
    visibility: visible;
    opacity: 1;
}

.header__menu__mobile-nav__item {
    flex: 1 1 0;
}

.header__menu__mobile-nav__item + .header__menu__mobile-nav__item {
    border-left: 1px solid $white;
}

.header__menu__mobile-nav__btn {
    @extend .navigation_01;
    width: 100%;
    padding: 12px 22px;
    color: $white;
    text-align: center;
    cursor: pointer;
    background-color: $green-darkest;
}

.header__login {
    @include flex-grid-column(12);
    align-self: center;

    @include breakpoint(medium) {
        @include flex-grid-column(6);
        @include grid-column-offset(3);
    }

    @include breakpoint(large) {
        @include flex-grid-column(4);
        @include grid-column-offset(4);
    }

    .header__menu__header {
        text-align: center;
    }
}

.header__menu__header + .header__login__label {
    margin-top: 20px;
}

.header__login__label + .header__login__label {
    margin-top: 14px;
}

.header__login__label + .header__login__button {
    margin-top: 30px;
}

.header__login__button {
    width: 100%;
}

.header__login__icon {
    width: 30%;
    margin: 0 auto 30px;
    fill: $green-light;
}
