// stylelint-disable

.hero_home {
    width: 100%;
    padding: 100px 0;

    @include breakpoint(medium) {
        padding: 100px 0 60px;
    }
}

.hero_home__content {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-column(9);
    }
}

.hero_home__subheading {
    @extend .subheading_01;
    color: $green-darkest;
}

.hero_home__heading {
    @extend .heading_01;
    color: $green-darkest;
}

.hero_home__heading_scroll {
    @extend .heading_s;
    width: 100%;
    padding: 0 15px;
    color: $green-light;
    text-align: right;
    transition: opacity 0.4s ease-in-out;

    &.deactive {
        opacity: 0;
    }

    .inner-highlight {
        padding: 0 20px;
        background-color: $green-darkest;
    }
}

.hero_home__heading + .hero_home__button_main {
    margin-top: 30px;
}

.hero_home__button_main {
    @extend .button_main;
}

.hero_home__button {
    @extend .button_text;
    display: block;
    margin: 50px auto 0;
}

// CAROUSEL

.home__carousel {
    position: relative;

    .slider {
        height: 500px;

        @include breakpoint(large) {
            height: 600px;
        }
    }

    .slider__navigation {
        @include flex-grid-row;
        position: absolute;
        top: 220px;
        right: 15px;
        font-size: 0;

        @include breakpoint(medium) {
            top: auto;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &::before {
            content: "";

            @include breakpoint(medium) {
                @include flex-grid-column(8);
            }

            @include breakpoint(large) {
                @include flex-grid-column(5);
            }

            @include breakpoint(xlarge) {
                @include flex-grid-column(4);
            }
        }
    }

    .slider__navigation-btn {
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 0;
        appearance: none;
        background-color: $green-darkest;
        border: none;
        transition: 0.2s background-color;

        &:hover {
            cursor: pointer;
            background-color: $green-darker;
        }
    }

    .slider__navigation-btn.left {
        &::before {
            width: 0;
            height: 0;
            content: "";
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid $green-light;
        }

        &:hover::before {
            border-right-color: $white;
        }
    }

    .slider__navigation-btn.right {
        &::before {
            width: 0;
            height: 0;
            content: "";
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid $green-light;
        }

        &:hover::before {
            border-left-color: $white;
        }
    }
}

.home__carousel__slide {
    overflow: hidden;
}

.home__carousel__overlay {
    width: 100%;
    height: 100%;
}

.home__carousel__inner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.home__carousel__content {
    @include flex-grid-column(12);
    position: relative;
    padding-top: 40px;
    background-color: $white;

    @include breakpoint(medium) {
        @include flex-grid-column(8);
    }

    @include breakpoint(large) {
        @include flex-grid-column(5);
    }

    @include breakpoint(xlarge) {
        @include flex-grid-column(4);
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100%;
        content: "";
        background-color: inherit;
    }
}

.home__carousel__heading {
    @extend .subheading_01;
    color: $green-darkest;
}

.home__carousel__heading,
.home__carousel__p {
    position: relative;
}

.home__carousel__heading + .tags_global {
    margin-top: 20px;
}

.home__carousel__heading + .home__carousel__p {
    margin-top: 14px;
}

.tags_global + .home__carousel__p {
    margin-top: 20px;
}

.home__carousel__p {
    @extend .paragraph_01;
    color: $green-darkest;
}

.home__carousel__p + .tags_global {
    margin-top: 20px;
}

.home__carousel__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 55%;

    @include breakpoint(medium) {
        height: 100%;
    }
}

.home__carousel__img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
}
