// stylelint-disable at-rule-blacklist

.project-information {
    padding: 20px 0;

    @include breakpoint(large) {
        padding: 60px 0;
    }
}

.project-information__inner {
    @include flex-grid-row;
}

.project-information__main {
    @include flex-grid-column(12);
    position: relative;

    @include breakpoint(large) {
        @include flex-grid-column(7);
        @include grid-column-offset(1);
    }

    .contribution-form {
        position: absolute;
        top: 0;
        left: 20px;
        width: calc(100% - 40px);
        max-height: 435px;
        overflow: scroll;
        visibility: hidden;
        box-shadow: 0 0 10px rgba(28, 26, 33, 0.3);
        opacity: 0;
        transition: 0.3s opacity, 0.3s visibility, margin-top 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        @include breakpoint(large) {
            left: 15px;
            width: calc(100% - 30px);
        }
    }

    .contribution-form_active {
        visibility: visible;
        opacity: 1;
    }
}

.project-information__secondary {
    @include flex-grid-column(12);
    margin-top: 40px;

    @include breakpoint(large) {
        @include flex-grid-column(3);
        @include grid-column-offset(1);
        margin-top: 0;
    }
}

.project-information__header {
    @extend .heading_02;
    margin-bottom: 20px;
}

.project-information__details {
    padding: 0 0 20px;
    font-size: 0;
    border-bottom: 1px solid $black;

    @include breakpoint(medium) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.project-information__details + .project-information__wysiwyg {
    margin-top: 20px;
}

.project-information__user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include breakpoint(medium) {
        margin-bottom: 0;
    }

    .project-information__user__content {
        width: auto;
        margin-left: 20px !important;
    }
}

.project-information__headshot {
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.project-information__user__content {
    display: inline-block;
    width: 50%;
    margin-left: 0;

    @include breakpoint(medium) {
        display: block;
        width: auto;
        margin-left: 20px;
    }

    &.contributors {
        padding-right: 10px;

        @include breakpoint(medium) {
            padding-right: 0;
        }
    }

    &.days {
        padding-left: 10px;

        @include breakpoint(medium) {
            padding-right: 0;
        }
    }
}

.project-information__subheader {
    @extend .navigation_01;
}

.project-information__subheader + .project-information_wysiwyg {
    margin-top: 5px;
}

.project-information__subheader + .project-information__paragraph {
    margin-top: 5px;
}

.project-information__paragraph {
    @extend .paragraph_01;
}

.project-information__user__name {
    @extend .navigation_01;
}

.project-information__user__name + .project-information__user__details {
    margin-top: 5px;
}

.project-information__user__details {
    @extend .paragraph_01;
}

.project-information__incentive {
    position: relative;
    padding: 20px;
    border: 1px solid $green-darkest;
}

.project-information__incentive + .project-information__incentive {
    margin-top: 30px;
}

.project-information__incentive__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgba(28, 26, 33, 0.95);
    opacity: 0;
    transition: 0.2s opacity;

    .project-information__subheader {
        color: $green-light;
    }

    &:hover {
        opacity: 1;
    }
}

.project-information__mobile-head {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $green-darkest;

    .heading_01 {
        margin-bottom: 10px;
    }

    @include breakpoint(medium) {
        display: none;
    }

}
