// stylelint-disable at-rule-blacklist

.progress-hexagon {
    position: relative;
    display: table;
}

.progress-hexagon__number {
    @extend .heading_01;
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    z-index: 1;
    margin: 0 auto;
    font-size: rem-calc(40px) !important;
    color: $white;
    text-shadow: 0 0 1px $green-darkest;
}

.progress-hexagon__number__percent {
    font-size: rem-calc(20px);
}

.progress-hexagon__svg {
    transform: rotate(30deg);
}

.progress-hexagon__t {
    fill: rgba(0, 0, 0, 0.4);
}

.progress-hexagon__t6 {
    fill: #18161c;
}

.progress-hexagon__t5 {
    fill: $green-darkest;
}

.progress-hexagon__t4 {
    fill: $green-darker;
}

.progress-hexagon__t3 {
    fill: $green-dark;
}

.progress-hexagon__t2 {
    fill: $green-medium;
}

.progress-hexagon__t1 {
    fill: $green-light;
}
