// stylelint-disable at-rule-blacklist

.project-index {
    width: 100%;
    margin: 100px 0;
}

.project-index__item {
    @include flex-grid-column(12);
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: top;

    @include breakpoint(medium) {
        @include flex-grid-column(6);
    }

    @include breakpoint(large) {
        @include flex-grid-column(4);
    }

    .tags_global {
        background-color: $green-darkest;
        border-top: 1px solid $green-darkest;
    }
}

.project-index__block {
    border: 1px solid $green-darkest;
}

.project-index__image {
    display: block;
    height: 200px;
    overflow: hidden;
    background-color: $green-darkest;
}

.project-index__image + .project-index__name {
    margin-top: 20px;
}

.project-index__img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.project-index__name,
.project-index__p {
    padding: 0 10px;
}

.project-index__name {
    @extend .heading_02;
    display: block;
    cursor: pointer;
    transition: 0.2s color;

    &:hover {
        color: $green-medium;
    }
}

.project-index__name + .project-index__p {
    margin-top: 5px;
}

.project-index__p {
    @extend .paragraph_01;
}

.project-index__p + .tags_global {
    margin-top: 20px;
}

.project-index__bottom {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;

    @include breakpoint(medium) {
        bottom: 20px;
    }
}

.project-index__filter-wrap {
    position: relative;
    width: 100vw;
    margin: 0 -20px;
    border: 1px solid $green-darkest;
    box-shadow: 0 0 10px rgba(28, 26, 33, 0.3);

    @include breakpoint(medium) {
        width: 100%;
        margin: 0 auto;
    }
}

.project-index__filter {
    position: relative;
    left: 78px;
    width: calc(100% - 181px);
    overflow: scroll;
    font-size: 0;
    background-color: $white;
}

.project-index__filter__inner {
    display: flex;
    white-space: nowrap;
}

.project-index__items-wrap {
    max-width: 1200px;
    margin: 0 auto;
    overflow: visible;
    transition: 0.5s height;
}

/* stylelint-disable */
.project-index__items-wrap > div {
    width: 100%;
}
/* stylelint-enable */

.project-index__filter__item {
    border-right: 1px solid $green-darkest;

    &:last-child {
        border-right: 0;
    }
}

.project-index__filter__item_all {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .project-index__filter__button {
        width: 77px;
    }
}

.project-index__filter__button {
    @extend .navigation_01;
    padding: 12px 22px;
    text-align: center;
    cursor: pointer;
    background-color: $white;
    transition: 0.3s color, 0.3s background-color;

    &.active {
        color: $white;
        background-color: $green-dark;

        &:hover {
            background-color: $green-darker;
        }
    }

    &:hover {
        background-color: $green-medium;
    }
}

.project-index__bottom__inner {
    @include flex-grid-column(12);
    @include flex-grid-row;
    position: relative;
}

.project-index__filter__chevron {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 103px;
    height: 100%;
    color: $white;
    pointer-events: none;
    background-color: $green-darkest;
    border-left: 1px solid $green-darkest;

    &::after {
        display: inline-block;
        width: 0;
        height: 0;
        content: "";
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $white;
    }
}
