// stylelint-disable at-rule-blacklist

.project-hero {
    padding-top: 60px;

    @include breakpoint(medium) {
        @include flex-grid-column(12);
        @include flex-grid-row;
    }

    .progress-hexagon {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .btn-play {
        @extend .access-hidden;
    }
}

.project-hero__inner {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.project-hero__overlay {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    background: rgba(28, 26, 33, 0.7);
    opacity: 1;
    transition: 0.6s opacity, 0.6s visibility;
}

.project-hero__overlay__inactive {
    visibility: hidden;
    opacity: 0;
}

.project-hero__details {
    max-width: 80%;
    text-align: center;

    @include breakpoint(xlarge) {
        max-width: 60%;
    }
}

.progress-hexagon + .project-hero__header {
    margin-top: 20px;
}

.project-hero__header,
.project-hero__pitch {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }
}

.project-hero__header {
    @extend .heading_01;
    color: $white;
}

.project-hero__pitch {
    @extend .paragraph_01;
    color: $white;
}

.project-hero__pitch + .project-hero__button {
    margin-top: 10px;

    @include breakpoint(medium) {
        margin-top: 40px;
    }
}

.project-hero__button {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    font-size: rem-calc(20px);
    font-weight: 700;
    line-height: (40 / 30);
    color: $white;
    text-transform: uppercase;
    letter-spacing: rem-calc(4px);
    cursor: pointer;
    background-color: transparent;
    border: 0;
    transition: 0.2s color;

    &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 14px;
        content: "";
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid $green-light;
    }

    &:hover {
        color: $green-light;
    }
}

.project-hero__img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}
