// stylelint-disable at-rule-blacklist

.transaction-beacon {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s, height 0.2s, max-height 0.3s;

    .transaction-beacon__text {
        min-height: 21px;
    }
}

.transaction-beacon_active {
    opacity: 1;
}

.transaction-beacon__beacon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: $green-light;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(38, 255, 94, 0.4);
    transition: 0.3s background;
    animation: beacon-pulse 2s infinite;
}

.transaction-beacon__beacon_failure {
    background: $carmine !important;
    animation: beacon-pulse_failure 2s infinite;
}

.transaction-beacon__text {
    @extend .paragraph_01;
    margin-left: 0;
    color: $green-light;
    opacity: 0;
    transition: 0.3s margin, 0.3s opacity, color 0.3s, max-height 0.3s, min-height 0.3s;
}

.transaction-beacon__text_hash {
    &.transaction-beacon__text_active {
        margin-left: 24px;
    }
}

.transaction-beacon__text_active {
    margin-left: 14px;
    opacity: 1;
}

.transaction-beacon__text_failure {
    color: $carmine !important;
}
