// stylelint-disable at-rule-blacklist

@mixin button_main($text_color, $background_color) {
    @extend .button-text;
    position: relative;
    display: table;
    padding: 18px 20px;
    color: $text_color;
    cursor: pointer;
    background-color: $background_color;
    border: 0;
    border-radius: 4px;
    appearance: none;
    transition: 0.2s color, 0.2s background-color, 0.3s padding-left;

    &:hover {
        color: $background_color;
        background-color: $text_color;
    }
}
