@keyframes beacon-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(38, 255, 94, 0.6);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(38, 255, 94, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(38, 255, 94, 0);
    }
}

@keyframes beacon-pulse_failure {
    0% {
        box-shadow: 0 0 0 0 rgba(201, 40, 62, 0.6);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(201, 40, 62, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(201, 40, 62, 0);
    }
}
