// stylelint-disable selector-max-type, at-rule-blacklist

.button_main {
    @include button_main($green-darkest, $green-light);
}

.button_action {
    @extend .button_main;

    svg {
        position: absolute;
        top: 10px;
        left: 20px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        fill: $green-darkest;
        transition: transform 0.3s, fill 0.2s;
        transform: scale(0.01) rotate(180deg);
    }

    &:hover {
        padding-left: 60px;

        svg {
            fill: $green-light;
            transform: scale(1) rotate(0deg);
        }
    }
}

.button_action_processing {
    color: $gray-dark;
    pointer-events: none;
    background-color: $gray-light;
}

.button_text {
    @extend .navigation_01;
    position: relative;
    padding: 0;
    margin: 0 auto;
    color: $green-darkest;
    appearance: none;
    cursor: pointer;
    border: 0;
    transition: color 0.2s;

    &::after {
        display: block;
        width: 0;
        height: 0;
        margin: 10px auto 0;
        content: "";
        border-top: 10px solid $green-light;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }

    &:hover {
        color: $green-light;
    }
}

.button_tag {
    @extend .tag-text;
    display: inline-table;
    padding: 5px 14px;
    vertical-align: middle;
    transition: 0.2s color, 0.2s background-color;

    &:hover {
        color: $white;
        background-color: $green-darkest;

        .button_tag__icon {
            fill: $white;
        }
    }
}

.button_tag_amount {
    color: $white;
    background-color: $green-darker;

    .button_tag__icon {
        fill: $white;
    }
}

.button_tag_category {
    color: $white;
    background-color: $green-dark;

    .button_tag__icon {
        fill: $white;
    }
}

.button_tag_idea {
    color: $green-darkest;
    background-color: $green-medium;

    .button_tag__icon {
        fill: $green-darkest;
    }
}

.button_tag_bag {
    color: $green-darkest;
    background-color: $green-light;

    .button_tag__icon {
        fill: $green-darkest;
    }
}

.button_tag__icon {
    display: inline-block;
    width: 14px;
    height: 17px;
    margin-right: 2px;
    vertical-align: text-bottom;
    transition: 0.2s fill;
}
