// stylelint-disable selector-max-type, at-rule-blacklist

label {
    display: block;
    width: 100%;
}

#{text-inputs()},
textarea {
    display: block;
    width: 100%;
}

textarea {
    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    resize: vertical;
}

button {
    padding: 0;
    border-width: 0;
}

.field_global {
    @extend .heading_02;
    appearance: none;
    padding: 10px 14px;
    color: $white;
    background-color: $green-darker;
    border: 0;

    &::placeholder {
        color: $green-darkest;
    }
}

// stylelint-disable
.field_global::-webkit-inner-spin-button,
.field_global::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
