// stylelint-disable selector-max-type, at-rule-blacklist

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    padding-top: 80px;
    margin: 0;

    @include breakpoint(medium) {
        padding-top: 160px;
    }
}

.access-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

.body_locked {
    overflow: hidden;
}

.row_global {
    @include flex-grid-row;

    &.row_global_collapsed {
        height: 0;
    }
}

.overlay_global {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tags_global {
    position: relative;
    font-size: 0;
}

.tags_global__item {
    display: inline-block;
}

.wysiwyg {
    p,
    li {
        @extend .paragraph_01;
    }

    li {
        display: list-item;
        margin-left: 15px;
        list-style: disc outside;
    }

    li + li {
        margin-top: 0 !important;
    }

    p + p,
    p + img,
    p + ul,
    ul + p {
        margin-top: 20px;
    }

    img + p {
        margin-top: 20px;
    }
}

