// stylelint-disable selector-max-type

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: inherit;
}

.navigation_01 {
    font-family: Roboto, sans-serif;
    font-size: rem-calc(12px);
    font-weight: 700;
    line-height: (40 / 30);
    color: $green-darkest;
    text-transform: uppercase;
    letter-spacing: rem-calc(4px);
}

.button-text {
    font-family: Roboto, sans-serif;
    font-size: rem-calc(12px);
    font-weight: 500;
    line-height: (40 / 30);
    color: $green-darkest;
    text-transform: uppercase;
    letter-spacing: rem-calc(2px);
}

.tag-text {
    font-family: Roboto, sans-serif;
    font-size: rem-calc(12px);
    font-weight: 400;
    line-height: (30 / 30);
    text-transform: uppercase;
    letter-spacing: rem-calc(1px);
}

.heading_s {
    z-index: 4;
    font-family: Roboto, serif;
    font-size: rem-calc(30px);
    font-weight: 700;
    line-height: (30 / 30);
    text-transform: uppercase;
    letter-spacing: rem-calc(4px);

    @include breakpoint(medium) {
        font-size: rem-calc(60px);
    }
}

.heading_01 {
    font-family: Roboto, serif;
    font-size: rem-calc(24px);
    font-weight: 700;
    line-height: (40 / 30);
    color: $green-darkest;

    @include breakpoint(medium) {
        font-size: rem-calc(35px);
    }

    @include breakpoint(large) {
        font-size: rem-calc(40px);
    }

    strong {
        color: $green-light;
    }
}

.heading_02 {
    font-family: Roboto, sans-serif;
    font-size: rem-calc(18px);
    font-weight: 500;
    line-height: (40 / 30);
    color: $green-darkest;
    letter-spacing: rem-calc(2px);
}

.subheading_01 {
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: rem-calc(16px);
    font-weight: 700;
    line-height: (40 / 30);
    color: $green-darkest;
    text-transform: uppercase;
    letter-spacing: rem-calc(4px);

    @include breakpoint(medium) {
        font-size: rem-calc(20px);
    }

    &::after {
        display: block;
        width: 40px;
        height: 2px;
        margin-top: 5px;
        content: "";
        background-color: $green-light;
    }
}

.subheading_01 + .heading_01 {
    margin-top: 20px;
}

.paragraph_01 {
    font-family: Roboto, sans-serif;
    font-size: rem-calc(13px);
    font-weight: 300;
    line-height: (50 / 30);
    letter-spacing: rem-calc(1px);
}

.paragraph_01 + .paragraph_01 {
    margin-top: 20px;
}
