// stylelint-disable

$path-fonts: "/fonts";

/*-------------------------------------------------------------------------------*/
/*--------------------------------- FOUNDATION ----------------------------------*/
/*-------------------------------------------------------------------------------*/

// Breakpoints
$breakpoints: (
    small: 0,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
    xxxlarge: 1600px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge xxlarge xxxlarge);

// Grid
$global-width: rem-calc(1200);
$global-max-width: rem-calc(1600);
$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
    small: 40px,
    large: 30px,
);
$grid-column-align-edge: true;
$grid-column-alias: "columns";
$block-grid-max: 8;

/*-------------------------------------------------------------------------------*/
/*----------------------------------- COLOURS -----------------------------------*/
/*-------------------------------------------------------------------------------*/

$white: #ffffff;
$black: #000000;
$gray-dark: #777;
$gray-medium: #aaa;
$gray-light: #ddd;
$green-darkest: #1C1A21;
$green-darker: #232930;
$green-dark: #264C47;
$green-medium: #19B266;
$green-light: #26FF5E;
$carmine: #C9283E;
