<template>
    <div ref="componentWrap">
        <div ref="originalWrap">
            <slot />
        </div>
        <transition-group
            v-resize="divAutoResize"
            ref="newWrap"
            tag="div"
            name="fade"
        >
            <div
                is="global-filter-item-ghost"
                v-for="item in $parent.filteredItems"
                :class="item.className"
                :key="item.id"
                :filter-category="item.filterCategory"
                :original="item.original"
                v-html="item.innerHTML"
            />
        </transition-group>
    </div>
</template>

<script>
import resize from 'vue-resize-directive';

export default {
    name: 'GlobalFilterItemsWrap',
    directives: {
        resize,
    },
    mounted() {
        this.$refs.originalWrap.remove();
    },
    methods: {
        divAutoResize() {
            const componentWrap = this.$refs.componentWrap;
            const newWrap = this.$refs.newWrap;

            setTimeout(() => {
                componentWrap.style.height = `${newWrap.$el.offsetHeight}px`;
            }, 100);
        },
    },
};
</script>
