<template>
    <div id="#app">
        <div class="header">
            <div class="header__inner">
                <router-link
                    to="/"
                    @click.native="toggleMenu(false)"
                >
                    <svg
                        is="global-logo"
                        :class="{ 'header__logo_active': menuOpen === true }"
                        class="header__logo"
                    />
                </router-link>
                <button
                    :class="{ 'active': menuOpen === true }"
                    class="header__hamburger"
                    @click="toggleMenu()"
                >
                    <span/>
                </button>
            </div>
            <div
                :class="{ 'header__menu_active': menuOpen === true }"
                class="header__menu"
            >
                <div
                    v-if="currentUser.id === ''"
                    class="header__menu__row row_global"
                >
                    <div class="header__login">
                        <global-mrbl-icon
                            class="header__login__icon"
                        />
                        <h2 class="header__menu__header">Welcome to MARBLE</h2>
                        <label class="label_global header__login__label">
                            <input
                                v-model="login.username"
                                class="field_global"
                                type="text"
                                placeholder="Username"
                            >
                        </label>
                        <label class="label_global header__login__label">
                            <input
                                v-model="login.password"
                                class="field_global"
                                type="password"
                                placeholder="Password"
                            >
                        </label>
                        <button
                            class="button_main header__login__button"
                            @click="userLogin()"
                        >Log In</button>
                    </div>
                </div>
                <div
                    v-if="currentUser.id !== ''"
                    class="header__menu__row row_global"
                >
                    <div
                        :class="{ 'active': menuMobileTab === 'nav' }"
                        class="header__menu__nav-wrap"
                    >
                        <h2 class="header__menu__header">Explore</h2>
                        <nav class="header__nav">
                            <router-link
                                :to="'projects'"
                                class="header__nav__item"
                                @click.native="toggleMenu(false)"
                            >Ideas</router-link>
                            <router-link
                                :to="'projects'"
                                class="header__nav__item"
                                @click.native="toggleMenu(false)"
                            >Bags</router-link>
                            <li class="header__nav__item">Market</li>
                            <li class="header__nav__item">About</li>
                            <li
                                class="header__nav__item"
                                @click="userLogout()"
                            >Log Out</li>
                        </nav>
                    </div>
                    <div
                        :class="{ 'active': menuMobileTab === 'main' }"
                        class="header__menu__main"
                    >
                        <div class="header__menu__user">
                            <div class="header__menu__headshot">
                                <img
                                    src="cms_content/me.jpg"
                                    class="header__menu__headshot__img"
                                >
                            </div>
                            <div class="header__menu__user__details">
                                <div class="header__menu__user__name">{{ currentUser.name }}</div>
                                <p class="header__menu__user__title header__menu__copy">Web Development | Graphic Design | Illustration / Sandman™ Curio & Urban Garments @sandmanphl / Front-end Developer</p>
                                <h2 class="header__menu__header">Wallet</h2>
                                <div class="header__menu__wallet">
                                    <global-mrbl-icon
                                        class="header__menu__wallet__icon"
                                    />
                                    <span
                                        ref="walletValue"
                                        class="header__menu__wallet__value"
                                    >0</span>
                                    <div
                                        class="header__menu__wallet__value header__menu__wallet__value_dollar"
                                    >
                                        <span class="header__menu__wallet__dollar-sign">$</span>
                                        <span
                                            ref="walletDollarValue"
                                            class="header__menu__wallet__value"
                                        >0.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header__menu__related">
                            <div class="header__menu__tabs">
                                <button
                                    :class="{ 'header__menu__tab_active': menuMainTab === 'transactions'}"
                                    class="header__menu__header header__menu__tab"
                                    @click="menuMainTab = 'transactions'"
                                >
                                    Transactions
                                </button>
                                <button
                                    :class="{ 'header__menu__tab_active': menuMainTab === 'contributions'}"
                                    class="header__menu__header header__menu__tab"
                                    @click="menuMainTab = 'contributions'"
                                >
                                    Contributions
                                </button>
                                <button
                                    :class="{ 'header__menu__tab_active': menuMainTab === 'curated_bags'}"
                                    class="header__menu__header header__menu__tab"
                                    @click="menuMainTab = 'curated_bags'"
                                >
                                    Curated Bags
                                </button>
                            </div>
                            <div class="header__related__lists-wrap">
                                <ul
                                    :class="{ 'header__related__list_active': menuMainTab === 'transactions'}"
                                    class="header__related__list"
                                >
                                    <li
                                        v-for="item in currentUser.transactions"
                                        :key="currentUser.transactions.indexOf(item)"
                                        class="header__related__transaction"
                                    >
                                        <div class="header__transaction__value">
                                            <global-mrbl-icon
                                                class="header__transaction__icon"
                                            />
                                            {{ parseFloat(item.amount).toFixed(4) }}
                                            <span
                                                v-if="item.to_user_id === currentUser.id"
                                                v-text="'+'"
                                            />
                                            <span
                                                v-if="item.to_user_id !== currentUser.id"
                                                v-text="'-'"
                                            />
                                        </div>
                                        <div
                                            class="header__transaction__value"
                                        >
                                            To {{ item.name }}
                                        </div>
                                        <div
                                            class="header__transaction__time header__menu__copy"
                                            v-text="convertUnix(item.timestamp)"
                                        />
                                    </li>
                                </ul>
                                <ul
                                    :class="{ 'header__related__list_active': menuMainTab === 'contributions'}"
                                    class="header__related__list"
                                >
                                    <li
                                        v-for="item in currentUserContributions"
                                        :key="currentUserContributions.indexOf(item)"
                                        class="header__related__item"
                                    >
                                        <div class="header__related__image">
                                            <img
                                                :src="item.img"
                                                class="header__related__img"
                                            >
                                        </div>
                                        <div class="header__related__details">
                                            <h3
                                                class="header__menu__header"
                                                v-text="item.name"
                                            />
                                            <p
                                                class="header__menu__copy"
                                                v-text="item.descript"
                                            />
                                        </div>
                                    </li>
                                </ul>
                                <ul
                                    :class="{ 'header__related__list_active': menuMainTab === 'curated_bags'}"
                                    class="header__related__list"
                                >
                                    <li
                                        v-for="item in curatedBags"
                                        :key="curatedBags.indexOf(item)"
                                        class="header__related__item"
                                    >
                                        <div class="header__related__image">
                                            <img
                                                :src="item.img"
                                                class="header__related__img"
                                            >
                                        </div>
                                        <div class="header__related__details">
                                            <h3
                                                class="header__menu__header"
                                                v-text="item.name"
                                            />
                                            <p
                                                class="header__menu__copy"
                                                v-text="item.descript"
                                            />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div
                        :class="{ 'active': menuMobileTab === 'sidebar' }"
                        class="header__menu__sidebar"
                    >
                        <global-purchase-form/>
                    </div>
                </div>
            </div>
            <div
                :class="{ 'header__menu__mobile-nav_active': menuOpen === true }"
                class="header__menu__mobile-nav"
            >
                <li class="header__menu__mobile-nav__item">
                    <button
                        class="header__menu__mobile-nav__btn"
                        @click="menuMobileTab = 'nav'"
                    >
                        Menu
                    </button>
                </li>
                <li class="header__menu__mobile-nav__item">
                    <button
                        class="header__menu__mobile-nav__btn"
                        @click="menuMobileTab = 'main'"
                    >
                        User
                    </button>
                </li>
                <li class="header__menu__mobile-nav__item">
                    <button
                        class="header__menu__mobile-nav__btn"
                        @click="menuMobileTab = 'sidebar'"
                    >
                        Funds
                    </button>
                </li>
            </div>
        </div>
        <transition name="fade">
            <router-view/>
        </transition>
        <div class="footer">
            <ul class="footer__list">
                <div class="footer__list__inner">
                    <a
                        v-for="item in contributions.slice().reverse()"
                        :key="contributions.indexOf(item)"
                        :href="'https://view.ost.com/chain-id/1409/transaction/' + item.transaction_hash"
                        class="footer__item"
                        target="_blank"
                    >
                        <div class="footer__item__time">{{ item.value }} MRBL</div>
                        <div
                            class="footer__item__detail"
                            v-text="convertUnix(item.transaction_timestamp)"
                        />
                        <div class="footer__item__detail">{{ item.transaction_hash }}</div>
                    </a>
                </div>
            </ul>
        </div>
    </div>
</template>

<script>
import router from '@/js/router';
// import Ostkit from 'ostkit';
import anime from 'animejs';
import Firebase from 'firebase';
import axios from 'axios';

const config = {
    apiKey: 'AIzaSyCcu4ucIcANbFF4UYceL1eqOkeMp7n3F-Q',
    authDomain: 'marble-3d47a.firebaseapp.com',
    databaseURL: 'https://marble-3d47a.firebaseio.com',
    projectId: 'marble-3d47a',
    storageBucket: 'marble-3d47a.appspot.com',
    messagingSenderId: '321787460109',
};

const fire = Firebase.initializeApp(config);
const db = fire.database();

const contributionsRef = db.ref('contributions');
const usersRef = db.ref('users');

export default {
    name: 'App',
    firebase: {
        contributions: contributionsRef,
        users: usersRef,
    },
    router,
    data() {
        return {
            path: 'http://localhost:3000',
            menuOpen: false,
            menuMobileTab: 'main',
            menuMainTab: 'transactions',
            ok: {},
            ok2: {},
            currentOSTPrice: undefined,
            currentMRBLPrice: undefined,
            conversionFactor: undefined,
            login: {
                username: '',
                password: '',
            },
            loginMessage: '',
            currentUser: {
                id: '',
                name: '',
                wallet: 0,
                transactions: [],
            },
            currentUserContributions: [
                {
                    name: 'The Legendary Warrior',
                    descript: 'A typical indie game project with rogue-like elements, looking for funding to finish graphic assets for thier finished product.',
                    img: 'cms_content/test-content1.jpg',
                    category: 'Development',
                    contentType: 'Idea',
                },
                {
                    name: 'More Water for Flint',
                    descript: 'An philanthropist project to provide the city of Flint with more bottles of clean water, now that the government has stopped providing them.',
                    img: 'cms_content/test-content3.jpg',
                    category: 'Philanthropy',
                    contentType: 'Idea',
                },
                {
                    name: 'A Night in the Woods',
                    descript: 'A typical indie film seeking funding to launch thier pilot and pitch to a major television studio like HBO or Netflix.',
                    img: 'cms_content/test-content5.jpg',
                    category: 'Film',
                    contentType: 'Idea',
                },
            ],
            curatedBags: [
                {
                    name: 'Shut Up and Take Our Money',
                    descript: 'A Futurama fan club raising funds to entice series creator Matt Groening and 20th Century Fox to produce an 8th season.',
                    img: 'cms_content/test-content2.jpg',
                    category: 'Production',
                    contentType: 'Bag',
                },
                {
                    name: 'The Diversity Project',
                    descript: 'A developing fund, contributed to by East Coast educators and parents, looking to tackle the the diversity issue plaguing Manhattan institutions',
                    img: 'cms_content/test-content4.jpg',
                    category: 'Education',
                    contentType: 'Bag',
                },
            ],
        };
    },
    computed: {
        walletDollarValue() {
            const d = this.currentMRBLPrice * this.currentUser.wallet;
            return d.toFixed(2);
        },
        walletTransactions() {
            const d = this.currentUser.transactions;
            return d;
        },
    },
    mounted() {
        if (this.getCookie('id')) {
            this.currentUser.id = this.getCookie('id');
        }

        if (this.currentUser.id !== '') {
            setTimeout(() => {
                this.updateUser();
            }, 2000);
        }

        this.$root.$on('updateBalance', () => {
            this.updateUser();
        });

        this.updatePriceConversion();
    },
    methods: {
        requestTimestamp() {
            const ts = Math.round((new Date()).getTime() / 1000);
            return ts;
        },
        toggleMenu(b) {
            if (b === false) {
                this.menuOpen = false;
                document.getElementsByTagName('body')[0].classList.remove('body_locked');
            } else {
                this.menuOpen = !this.menuOpen;
                document.getElementsByTagName('body')[0].classList.toggle('body_locked');
            }
        },
        updateUser() {
            const component = this;

            axios.get(`${this.path}/user/${this.currentUser.id}`).then((res) => {
                if (component.currentUser.wallet !== res.data.user.token_balance) {
                    this.currentUser.name = res.data.user.name;
                    this.currentUser.wallet = res.data.user.token_balance;

                    anime({
                        targets: component.$refs.walletValue,
                        innerHTML: res.data.user.token_balance,
                        easing: 'easeInOutExpo',
                        round: 10000,
                    });

                    anime({
                        targets: component.$refs.walletDollarValue,
                        innerHTML: component.walletDollarValue,
                        easing: 'easeInOutExpo',
                        round: 100,
                    });
                }
            });

            this.updateTransactions();
        },
        updateTransactions() {
            axios.get(`${this.path}/list-transactions/${this.currentUser.id}`).then((res) => {
                this.currentUser.transactions = res.data.transactions;
            }).then(() => {
                this.getTransactionNames();
            });
        },
        updatePriceConversion() {
            axios.get(`${this.path}/conversion`).then((res) => {
                this.currentMRBLPrice = res.data;
            });
        },
        pushToDB(d) {
            contributionsRef.push(d);
        },
        convertUnix(timestamp) {
            /* eslint-disable */
            var str = String(timestamp);
            var g = str.substring(0, str.length-3);
            var d = new Date(Number(g) * 1000); // Convert the passed

            return d.toLocaleString();
            /* eslint-enable */
        },
        getCookie(name) {
            /* eslint-disable */
            const re = new RegExp(name + "=([^;]+)");
            const value = re.exec(document.cookie);
            return (value != null) ? unescape(value[1]) : null;
            /* eslint-enable */
        },
        getName(id) {
            axios.get(`${this.path}/user-name/${id}`).then((res) => {
                /* eslint-disable */
                console.log(res.data);
                /* eslint-enable */
                return res.data;
            });
        },
        getTransactionNames() {
            /* eslint-disable */
            let o = 0;
            /* eslint-enable */

            this.currentUser.transactions.forEach((k) => {
                axios.get(`${this.path}/user-name/${k.to_user_id}`).then((res) => {
                    this.$set(k, 'name', res.data);

                    if (k.to_user_id === this.currentUser.id) {
                        this.$set(k, 'name', 'Me (Wallet)');
                    } else {
                        this.$set(k, 'name', res.data);
                    }
                });

                o += 1;
            });
        },
        userLogin() {
            this.users.filter((u) => {
                if (u.username === this.login.username) {
                    if (this.login.password === u.password) {
                        this.currentUser.id = u.id;
                        this.$root.$emit('updateBalance');

                        document.cookie = `id=${u.id}`;
                    }
                } else {
                    this.loginMessage = 'User not found.';
                }

                return u.id;
            });
        },
        userLogout() {
            document.cookie = 'id=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            location.reload();
        },
    },
};
</script>

<style lang="scss" src="../scss/app.scss"></style>
