<template>
    <div
        ref="sidebarWrap"
        class="fixed-sidebar"
    >
        <slot />
    </div>
</template>

<script>
export default {
    name: 'GlobalFixedSidebar',
    data() {
        return {
            originalPosition: undefined,
            currentPosition: undefined,
        };
    },
    created() {
        window.addEventListener('scroll', this.sidebarTrack);
        window.addEventListener('resize', this.sidebarResize);
    },
    mounted() {
        this.originalPosition = this.offset(this.$refs.sidebarWrap).top;
        this.sidebarResize();
    },
    methods: {
        sidebarTrack() {
            if (this.$refs.sidebarWrap) {
                this.currentPosition = this.$refs.sidebarWrap.getBoundingClientRect().top;

                if (window.scrollY >= this.originalPosition) {
                    this.$refs.sidebarWrap.classList.add('active');
                } else {
                    this.$refs.sidebarWrap.classList.remove('active');
                }
            }
        },
        sidebarResize() {
            const parentWidth = this.$refs.sidebarWrap.parentElement.offsetWidth - 30;
            this.$refs.sidebarWrap.style.width = `${parentWidth}px`;
        },
        offset(el) {
            const rect = el.getBoundingClientRect();
            const scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            return { top: rect.top + scrollTop, left: rect.left + scrollLeft };
        },
    },
};
</script>

<style lang="scss">
    .fixed-sidebar {
        z-index: 19;

        &.active {
            position: fixed;
            top: 0;

            .contribution-form {
                left: 0;
                width: calc(100% - 10px);
                margin-top: 200px;

                @include breakpoint(large) {
                    width: 100%;
                    margin-top: 160px;
                }
            }
        }
    }
</style>
