<template>
    <div class="four-block-layout">
        <h2
            v-if="header"
            class="four-block-layout__header"
            v-text="header"
        />
        <div class="row_global">
            <div
                v-for="item in blocks"
                :key="blocks.indexOf(item)"
                class="four-block-layout__col"
            >
                <div class="four-block-layout__block">
                    <div class="four-block-layout__image">
                        <img
                            :src="item.img"
                            class="four-block-layout__img"
                        >
                    </div>
                    <router-link
                        :to="'project'"
                        class="four-block-layout__name"
                        v-text="item.name" />
                    <p
                        class="four-block-layout__p"
                        v-text="item.descript" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'GlobalFourBlockLayout',
    props: {
        header: {
            type: String,
            required: false,
            default: undefined,
        },
        blocks: {
            type: Array,
            required: true,
        },
    },
};
</script>
