<template>
    <div class="purchase-form">
        <h2 class="purchase-form__header">Add Funds</h2>
        <div class="purchase-form__form">
            <label class="label_global purchase-form__label purchase-form__label_dollar">
                <input
                    v-model="userNumber"
                    class="field_global purchase-form__number"
                    type="number"
                    placeholder="0"
                    max="10"
                    maxlength="2"
                >
            </label>
            <label class="purchase-form__exchange">= {{ exchangeRate }} MRBL</label>
            <button
                :class="{ 'button_action_processing': processing === true }"
                class="purchase-form__button"
                @click="airDrop()"
            >
                <global-mrbl-icon />
                Buy MRBL
            </button>
            <div
                :class="{'transaction-beacon_active': processing === true}"
                class="transaction-beacon"
            >
                <div
                    :class="{'transaction-beacon__beacon_failure': processStatus === 'Failure'}"
                    class="transaction-beacon__beacon"
                />
                <div
                    :class="{ 'transaction-beacon__text_active': processStatus === 'Success' || processStatus === 'Failure', 'transaction-beacon__text_failure': processStatus === 'Failure' }"
                    class="transaction-beacon__text"
                    v-text="processStatus" />
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'GlobalPurchaseForm',
    data() {
        return {
            userNumber: undefined,
            conversion: undefined,
            processing: false,
            processStatus: '',
        };
    },
    computed: {
        exchangeRate() {
            let x;

            if (this.userNumber === undefined) {
                x = 0;
            } else {
                x = this.userNumber / this.$root.currentMRBLPrice;
            }
            return x.toFixed(4);
        },
    },
    methods: {
        airDrop() {
            this.processing = true;

            axios.get(`${this.$root.path}/purchase/e95d8e5b-a866-4393-b527-07617c390637/${this.userNumber}`).then((res) => {
                setTimeout(() => {
                    this.processStatus = 'Success';
                    this.$root.$emit('updateBalance');
                }, 5000);

                /* eslint-disable */
                console.log(res);
                /* eslint-enable */

                return res;
            });
        },
    },
};
</script>

<style lang="scss">
.purchase-form__number {
    text-align: center;
}
</style>
