<template>
    <svg viewBox="0 0 150.4 151.2">
        <g id="XMLID_3_">
            <g>
                <polygon
                    class="st0"
                    points="126.5,46.8 126.8,51.5 124.6,51.5 124.6,42.3"/>
                <polygon
                    class="st0"
                    points="126.8,52.7 126.5,57.5 124.6,61.9 124.6,52.7"/>
                <polygon
                    class="st0"
                    points="125.3,37.7 126,43 124.6,39.8 124.6,38"/>
                <polygon
                    class="st0"
                    points="126,61.2 125.3,66.5 124.6,66.2 124.6,64.5"/>
                <polygon
                    class="st0"
                    points="122.7,32 125,36.8 124.4,37"/>
                <polygon
                    class="st0"
                    points="125,67.5 122.7,72.3 124.4,67.2"/>
                <polygon
                    class="st1"
                    points="123.6,38.6 123.6,50.6 117.5,42.8"/>
                <polygon
                    class="st1"
                    points="123.6,53.6 123.6,65.6 117.5,61.4"/>
                <polygon
                    class="st1"
                    points="117.3,44.2 123.5,52.1 117.3,60.1 117.3,52.3 117.3,51.9"/>
                <polygon
                    class="st1"
                    points="115.7,29.1 123.4,37.6 117.2,41.8"/>
                <polygon
                    class="st1"
                    points="123.4,66.6 115.7,75.2 117.2,62.4"/>
                <polygon
                    class="st1"
                    points="119.2,24.9 122.9,35.5 115.8,27.6"/>
                <polygon
                    class="st0"
                    points="122.9,68.7 119.2,79.3 115.8,76.6"/>
                <polygon
                    class="st1"
                    points="118.7,24 115.2,26.8 110.2,16.2"/>
                <polygon
                    class="st0"
                    points="118.7,80.2 110.2,88 115.2,77.4"/>
                <polygon
                    class="st2"
                    points="116.3,52.3 116.3,60.3 108.1,52.1 116.3,43.9 116.3,51.9"/>
                <polygon
                    class="st2"
                    points="114.7,28.4 116.2,41.6 106.2,34"/>
                <polygon
                    class="st1"
                    points="116.2,62.6 114.7,75.8 106.2,70.2"/>
                <polygon
                    class="st2"
                    points="116.1,42.8 107.6,51.2 106,35"/>
                <polygon
                    class="st2"
                    points="116.1,61.5 106,69.2 107.6,53"/>
                <polygon
                    class="st1"
                    points="110.7,14.3 114.3,18.7 109.7,14.4"/>
                <polygon
                    class="st3"
                    points="114.3,85.5 110.7,89.9 109.7,89.8"/>
                <polygon
                    class="st2"
                    points="114.2,27.6 105.6,33.2 101.3,18.7"/>
                <polygon
                    class="st1"
                    points="114.2,76.7 101.3,85.5 105.6,71.1"/>
                <polygon
                    class="st2"
                    points="108.3,14.7 113.8,26.1 101.4,17.6"/>
                <polygon
                    class="st0"
                    points="113.8,78.1 108.3,89.5 101.4,86.6"/>
                <polygon
                    class="st1"
                    points="109.5,13.4 108.7,13.5 105.3,10.6"/>
                <polygon
                    class="st3"
                    points="109.5,90.8 105.3,93.6 108.7,90.7"/>
                <polygon
                    class="st2"
                    points="107.4,14 100.6,16.9 94.4,7.5"/>
                <polygon
                    class="st0"
                    points="107.4,90.2 94.4,96.7 100.6,87.3"/>
                <polygon
                    class="st4"
                    points="104.9,34.6 106.5,50.9 92.4,42.2 92.3,42.1"/>
                <polygon
                    class="st2"
                    points="106.5,53.3 104.9,69.6 92.3,62.1 92.4,62"/>
                <polygon
                    class="st4"
                    points="106,52.1 91.9,61.2 91.9,43.1"/>
                <polygon
                    class="st2"
                    points="105.1,11.7 94.5,6.5 98.1,5.8"/>
                <polygon
                    class="st3"
                    points="94.5,97.7 105.1,92.5 98.1,98.4"/>
                <polygon
                    class="st4"
                    points="100.1,18.4 104.5,32.9 92.1,25.7"/>
                <polygon
                    class="st1"
                    points="104.5,71.3 100.1,85.8 92.1,78.5"/>
                <polygon
                    class="st4"
                    points="104.2,33.9 91.9,41.2 91.9,26.7"/>
                <polygon
                    class="st2"
                    points="104.2,70.4 91.9,77.5 91.9,63"/>
                <polygon
                    class="st4"
                    points="99.5,17.7 91.5,24.9 85.7,12.1"/>
                <polygon
                    class="st1"
                    points="99.5,86.6 85.7,92.1 91.5,79.3"/>
                <polygon
                    class="st4"
                    points="92.8,6.9 99.1,16.4 85.8,11.1"/>
                <polygon
                    class="st0"
                    points="99.1,87.8 92.8,97.3 85.8,93.2"/>
                <polygon
                    class="st2"
                    points="96.3,5.1 93.1,5.7 87.9,2.2         "/>
                <polygon
                    class="st3"
                    points="96.3,99.1 87.9,102 93.1,98.5       "/>
                <polygon
                    class="st4"
                    points="91.5,6.5 84.8,10.5 77.4,4.4        "/>
                <polygon
                    class="st0"
                    points="91.5,97.7 77.4,99.8 84.8,93.7      "/>
                <polygon
                    class="st2"
                    points="90.9,62.8 90.9,77.6 76.3,69.1      "/>
                <polygon
                    class="st4"
                    points="90.9,43 90.9,61.2 76.1,52.1        "/>
                <polygon
                    class="st5"
                    points="90.9,26.6 90.9,41.4 76.3,35.1      "/>
                <polygon
                    class="st4"
                    points="90.9,5.4 77.7,3.4 84.3,1.1         "/>
                <polygon
                    class="st3"
                    points="90.9,98.8 84.3,103.2 77.7,100.8        "/>
                <polygon
                    class="st5"
                    points="84.6,12 90.5,25 76,20      "/>
                <polygon
                    class="st1"
                    points="90.5,79.2 84.6,92.2 76,84.2        "/>
                <polygon
                    class="st5"
                    points="90.2,42.2 75.7,51.1 75.7,35.9      "/>
                <polygon
                    class="st4"
                    points="90.2,62 75.7,68.3 75.7,53.1        "/>
                <polygon
                    class="st5"
                    points="90.1,25.9 75.7,34.3 75.7,21        "/>
                <polygon
                    class="st2"
                    points="90.1,78.3 75.7,83.2 75.7,69.9      "/>
                <polygon
                    class="st5"
                    points="83.5,11.6 75.2,19.4 67,11.6 75.2,11.6      "/>
                <polygon
                    class="st1"
                    points="83.5,92.6 75.2,92.6 67,92.6 75.2,84.8      "/>
                <polygon
                    class="st5"
                    points="83.4,10.6 75.2,10.6 67.1,10.6 75.2,3.9         "/>
                <polygon
                    class="st0"
                    points="83.4,93.6 75.2,100.3 67.1,93.6 75.2,93.6       "/>
                <polygon
                    class="st4"
                    points="81.6,1 75.2,3.3 75.2,3.3 75.2,3.3 68.9,1 75.2,1        "/>
                <polygon
                    class="st3"
                    points="81.6,103.2 75.2,103.2 68.9,103.2 75.2,100.9 75.2,100.9 75.2,100.9"/>
                <polygon
                    class="st2"
                    points="74.7,69.9 74.7,83.2 60.4,78.3"/>
                <polygon
                    class="st4"
                    points="74.7,53.1 74.7,68.3 60.2,62"/>
                <polygon
                    class="st5"
                    points="74.7,35.9 74.7,51.1 60.2,42.2"/>
                <polygon
                    class="st6"
                    points="74.7,21 74.7,34.3 60.4,25.9"/>
                <polygon
                    class="st2"
                    points="74.5,84.2 65.9,92.2 60,79.2"/>
                <polygon
                    class="st5"
                    points="74.4,52.1 59.6,61.2 59.6,43"/>
                <polygon
                    class="st6"
                    points="74.1,35.1 59.6,41.4 59.6,26.6"/>
                <polygon
                    class="st4"
                    points="74.1,69.1 59.6,77.6 59.6,62.8"/>
                <polygon
                    class="st5"
                    points="73,4.4 65.7,10.5 58.9,6.5"/>
                <polygon
                    class="st0"
                    points="73,99.8 58.9,97.7 65.7,93.7 "/>
                <polygon
                    class="st4"
                    points="72.7,3.4 59.6,5.4 66.1,1.1"/>
                <polygon
                    class="st3"
                    points="72.7,100.8 66.1,103.2 59.6,98.8"/>
                <polygon
                    class="st6"
                    points="60,25 65.9,12 74.5,20"/>
                <polygon
                    class="st6"
                    points="64.7,12.1 58.9,24.9 51,17.7        "/>
                <polygon
                    class="st2"
                    points="58.9,79.3 64.7,92.1 51,86.6        "/>
                <polygon
                    class="st5"
                    points="64.6,11.1 51.4,16.4 57.6,6.9       "/>
                <polygon
                    class="st0"
                    points="64.6,93.2 57.6,97.3 51.4,87.8      "/>
                <polygon
                    class="st4"
                    points="62.5,2.2 57.3,5.7 54.2,5.1         "/>
                <polygon
                    class="st3"
                    points="62.5,102 54.2,99.1 57.3,98.5       "/>
                <polygon
                    class="st4"
                    points="58.6,63 58.6,77.5 46.3,70.4        "/>
                <polygon
                    class="st5"
                    points="58.6,43.1 58.6,61.2 44.5,52.1      "/>
                <polygon
                    class="st6"
                    points="58.6,26.7 58.6,41.2 46.3,33.9      "/>
                <polygon
                    class="st6"
                    points="58.3,25.7 45.9,32.9 50.3,18.4      "/>
                <polygon
                    class="st2"
                    points="58.3,78.5 50.3,85.8 45.9,71.3      "/>
                <polygon
                    class="st6"
                    points="58.2,42.1 58.1,42.2 43.9,50.9 45.5,34.6        "/>
                <polygon
                    class="st4"
                    points="58.2,62.1 45.5,69.6 43.9,53.3 58.1,62      "/>
                <polygon
                    class="st5"
                    points="56,7.5 49.9,16.9 43.1,14       "/>
                <polygon
                    class="st0"
                    points="49.9,87.3 56,96.7 43.1,90.2        "/>
                <polygon
                    class="st6"
                    points="49.2,18.7 44.8,33.2 36.3,27.6      "/>
                <polygon
                    class="st5"
                    points="49,17.6 36.6,26.1 42.1,14.7        "/>
                <polygon
                    class="st0"
                    points="49,86.6 42.1,89.5 36.6,78.1        "/>
                <polygon
                    class="st3"
                    points="45.4,92.5 55.9,97.7 52.4,98.4      "/>
                <polygon
                    class="st4"
                    points="45.4,11.7 52.4,5.8 55.9,6.5        "/>
                <polygon
                    class="st6"
                    points="45.2,10.6 41.7,13.5 40.9,13.4      "/>
                <polygon
                    class="st3"
                    points="45.2,93.6 40.9,90.8 41.7,90.7      "/>
                <polygon
                    class="st2"
                    points="44.8,71.1 49.2,85.5 36.3,76.7      "/>
                <polygon
                    class="st6"
                    points="44.5,35 42.9,51.2 34.4,42.8        "/>
                <polygon
                    class="st4"
                    points="42.9,53 44.5,69.2 34.4,61.5        "/>
                <polygon
                    class="st6"
                    points="44.2,34 34.3,41.6 35.8,28.4        "/>
                <polygon
                    class="st2"
                    points="44.2,70.2 35.8,75.8 34.3,62.6      "/>
                <polygon
                    class="st4"
                    points="42.4,52.1 34.1,60.3 34.1,52.3 34.1,51.9 34.1,43.9      "/>
                <polygon
                    class="st3"
                    points="40.8,89.8 39.7,89.9 36.1,85.5      "/>
                <polygon
                    class="st4"
                    points="40.3,16.2 35.2,26.8 31.8,24        "/>
                <polygon
                    class="st0"
                    points="35.2,77.4 40.3,88 31.8,80.2        "/>
                <polygon
                    class="st6"
                    points="39.7,14.3 40.8,14.4 36.1,18.7      "/>
                <polygon
                    class="st4"
                    points="34.7,29.1 33.2,41.8 27,37.6        "/>
                <polygon
                    class="st2"
                    points="33.2,62.4 34.7,75.2 27,66.6        "/>
                <polygon
                    class="st4"
                    points="34.7,27.6 27.6,35.5 31.3,24.9      "/>
                <polygon
                    class="st0"
                    points="27.6,68.7 34.7,76.6 31.3,79.3      "/>
                <polygon
                    class="st4"
                    points="33.1,52.3 33.1,60.1 26.9,52.1 33.1,44.2 33.1,51.9      "/>
                <polygon
                    class="st4"
                    points="32.9,42.8 26.8,50.6 26.8,38.6      "/>
                <polygon
                    class="st2"
                    points="26.8,53.6 32.9,61.4 26.8,65.6      "/>
                <polygon
                    class="st2"
                    points="27.7,32 26,37 25.4,36.8        "/>
                <polygon
                    class="st0"
                    points="26,67.2 27.7,72.3 25.4,67.5        "/>
                <polygon
                    class="st2"
                    points="25.8,42.3 25.8,51.5 23.7,51.5 23.9,46.8        "/>
                <polygon
                    class="st2"
                    points="25.8,52.7 25.8,61.9 23.9,57.5 23.7,52.7        "/>
                <polygon
                    class="st0"
                    points="25.8,64.5 25.8,66.2 25.1,66.5 24.4,61.2        "/>
                <polygon
                    class="st2"
                    points="25.8,38 25.8,39.8 24.4,43 25.1,37.7        "/>
            </g>
        </g>
        <g class="letters">
            <path
                class="m"
                d="M0,128.1c0-1.3,0.7-2,2-2h1.9c1.3,0,2,0.7,2,2v1.5c0,0.5-0.1,1.1-0.1,1.1h0.1c1.2-2.4,4.2-5.2,8-5.2c3.7,0,6.1,1.7,7.2,5
                h0.1c1.3-2.5,4.5-5,8.4-5c5.1,0,8,2.9,8,9.3v13.7c0,1.3-0.7,2-2,2h-2.1c-1.3,0-2-0.7-2-2V136c0-2.8-0.5-4.9-3.4-4.9
                c-4.1,0-6.2,4.2-6.2,8.5v9c0,1.3-0.7,2-2,2h-2.1c-1.3,0-2-0.7-2-2V136c0-2.6-0.4-4.9-3.3-4.9c-4.3,0-6.3,4.4-6.3,8.5v9
                c0,1.3-0.7,2-2,2H2c-1.3,0-2-0.7-2-2V128.1z"/>
            <path
                class="a"
                d="M55.5,135.5h1v-0.6c0-3.2-2.1-4.3-4.6-4.3c-2.1,0-3.9,0.8-5.1,1.4c-1.2,0.5-2.1,0.3-2.7-0.8l-0.5-0.9
                c-0.6-1.1-0.4-2.1,0.8-2.7c1.6-0.8,4.4-2,8-2c6.3,0,10.1,3.6,10.1,9.7v13.3c0,1.3-0.7,2-2,2H59c-1.3,0-2-0.7-2-2v-1
                c0-0.7,0.1-1.1,0.1-1.1H57c0,0-2.3,4.6-7.7,4.6c-4.5,0-8.1-2.9-8.1-7.3C41.2,136.7,50.1,135.5,55.5,135.5z M51,146.5
                c3.4,0,5.6-3.5,5.6-6.4v-0.9h-1c-3.1,0-8.3,0.5-8.3,4.1C47.3,144.9,48.5,146.5,51,146.5z"/>
            <path
                class="r"
                d="M68.3,128.1c0-1.3,0.7-2,2-2h1.9c1.3,0,2,0.7,2,2v2.3c0,0.9-0.1,1.7-0.1,1.7h0.1c1-2.9,3.6-6.2,7.1-6.2
                c1.3,0,1.8,0.7,1.8,2v1.9c0,1.3-0.8,2-2.1,2c-4.5,0-6.6,4.4-6.6,8.9v7.9c0,1.3-0.7,2-2,2h-2.1c-1.3,0-2-0.7-2-2V128.1z"/>
            <path
                class="b"
                d="M86.3,118.5c0-1.3,0.7-2,2-2h2.1c1.3,0,2,0.7,2,2v8.9c0,1.2-0.1,2.1-0.1,2.1h0.1c0,0,2.2-3.9,7.5-3.9
                c6.5,0,10.8,5.2,10.8,12.8c0,7.8-4.8,12.9-11.2,12.9c-5.5,0-7.5-4.1-7.5-4.1h-0.1c0,0,0.1,0.4,0.1,1.1v0.8c0,1.1-0.7,1.7-2,1.7
                h-1.6c-1.3,0-2-0.7-2-2V118.5z M98.3,146c3.4,0,6.2-2.7,6.2-7.6c0-4.6-2.5-7.7-6-7.7c-3.2,0-6.2,2.4-6.2,7.6
                C92.2,142.3,94.3,146,98.3,146z"/>
            <path
                class="l"
                d="M115.2,118.5c0-1.3,0.7-2,2-2h2.1c1.3,0,2,0.7,2,2v24c0,2.4,1,2.8,1.9,2.9c0.9,0.1,1.5,0.6,1.5,1.7v1.6
                c0,1.2-0.6,2.1-2,2.1c-3.3,0-7.4-0.9-7.4-7.9V118.5z"/>
            <path
                class="e"
                d="M139.6,125.5c7,0,10.8,4.9,10.8,11.7c0,1.1-0.9,2.1-2.1,2.1h-14.9c0.4,4.4,3.6,6.7,7.3,6.7c2.3,0,4.1-0.9,5.3-1.6
                c1.2-0.6,2.1-0.4,2.7,0.7l0.6,1c0.6,1.1,0.4,2.1-0.7,2.7c-1.6,1-4.5,2.4-8.3,2.4c-8.1,0-13.2-5.9-13.2-12.8
                C127.2,130.8,132.2,125.5,139.6,125.5z M144.4,135.6c-0.1-3.4-2.2-5.4-4.9-5.4c-3.1,0-5.3,2.2-5.9,5.4H144.4z"/>
        </g>
        <path
            class="cage"
            d="M127.8,52l-0.2-5.4l-1.3-9.7l-0.1,0l0.1-0.2l-6.3-13.1l-8.5-10.3l-0.2,0.1l0.1-0.2L98.4,4.8L84.4,0h-9.2H66l-14,4.8
            l-12.8,8.5l0.1,0.2l-0.2-0.1l-8.5,10.3l-6.3,13.1l0.1,0.2l-0.1,0l-1.3,9.7L22.6,52l0.1,0.1l-0.1,0.1l0.2,5.4l1.3,9.7l0.1,0l-0.1,0.2
            l6.3,13.1l8.5,10.3l0.2-0.1l-0.1,0.2l12.8,8.5l14,4.8h9.2h9.2l14-4.8l12.8-8.5l-0.1-0.2l0.2,0.1l8.5-10.3l6.3-13.1l-0.1-0.2l0.1,0
            l1.3-9.7l0.2-5.4V52L127.8,52z M75.2,100.3l-8.2-6.8h8.2h8.2L75.2,100.3z M75.2,3.9l8.2,6.8h-8.2h-8.2L75.2,3.9z M123.6,50.6
            l-6.1-7.8l6.1-4.2L123.6,50.6z M117.2,41.8l-1.5-12.8l7.6,8.5L117.2,41.8z M116.3,52.3v8l-8.2-8.2l8.2-8.2v8V52.3z M34.1,52.3v-0.4
            v-8l8.2,8.2l-8.2,8.2V52.3z M91.9,63l12.3,7.4l-12.3,7.2V63z M44.5,52.1l14.1-9v18.1L44.5,52.1z M58.6,41.2l-12.3-7.4l12.3-7.2V41.2
            z M90.9,41.4l-14.5-6.3l14.5-8.5V41.4z M90.2,42.2l-14.5,8.9V35.9L90.2,42.2z M75.7,34.3V21l14.4,4.9L75.7,34.3z M60.2,42.2
            l14.5-6.3v15.2L60.2,42.2z M74.7,34.3l-14.4-8.4L74.7,21V34.3z M74.1,35.1l-14.5,6.3V26.6L74.1,35.1z M74.4,52.1l-14.8,9.1V43
            L74.4,52.1z M74.7,53.1v15.2L60.2,62L74.7,53.1z M59.6,62.8l14.5,6.3l-14.5,8.5V62.8z M74.7,69.9v13.3l-14.4-4.9L74.7,69.9z
             M90.2,62l-14.5,6.3V53.1L90.2,62z M75.7,69.9l14.4,8.4l-14.4,4.9V69.9z M76.3,69.1l14.5-6.3v14.8L76.3,69.1z M76.1,52.1L90.9,43
            v18.2L76.1,52.1z M91.9,43.1l14.1,9l-14.1,9V43.1z M105.9,35l10.1,7.7l-8.5,8.4L105.9,35z M106.5,50.9l-14.2-8.7l-0.1-0.1l12.6-7.6
            L106.5,50.9z M91.9,41.2V26.7l12.3,7.2L91.9,41.2z M92.1,25.7l8-7.3l4.4,14.5L92.1,25.7z M91.5,24.9l-5.8-12.8l13.8,5.6L91.5,24.9z
             M90.5,25L76,20l8.6-8.1L90.5,25z M75.2,19.4L67,11.6h8.2h8.2L75.2,19.4z M74.5,20L60,25l5.9-13L74.5,20z M58.9,24.9L51,17.7
            l13.8-5.6L58.9,24.9z M58.3,25.7l-12.4,7.2l4.4-14.5L58.3,25.7z M58.2,42.1L58.2,42.1l-14.3,8.8l1.6-16.4L58.2,42.1z M42.9,51.2
            l-8.5-8.4L44.5,35L42.9,51.2z M42.9,53l1.6,16.2l-10.1-7.7L42.9,53z M43.9,53.3L58.1,62l0.1,0.1l-12.6,7.6L43.9,53.3z M58.6,63v14.5
            l-12.3-7.2L58.6,63z M58.3,78.5l-8,7.3l-4.4-14.5L58.3,78.5z M58.9,79.3l5.8,12.8L51,86.5L58.9,79.3z M60,79.2l14.5,4.9l-8.6,8.1
            L60,79.2z M75.2,84.8l8.2,7.7h-8.2H67L75.2,84.8z M76,84.2l14.5-4.9l-5.9,13L76,84.2z M91.5,79.3l7.9,7.2l-13.8,5.6L91.5,79.3z
             M92.1,78.5l12.4-7.2l-4.4,14.5L92.1,78.5z M92.3,62.1L92.3,62.1l14.3-8.8l-1.6,16.4L92.3,62.1z M107.6,53l8.5,8.4l-10.1,7.7
            L107.6,53z M116.2,41.6l-10-7.6l8.5-5.5L116.2,41.6z M105.6,33.2l-4.3-14.4l12.9,8.8L105.6,33.2z M101.4,17.6l6.9-2.9l5.5,11.4
            L101.4,17.6z M100.6,16.9l-6.1-9.4l12.9,6.5L100.6,16.9z M99.1,16.4l-13.2-5.4l7-4.1L99.1,16.4z M84.8,10.5l-7.4-6.1l14.1,2.1
            L84.8,10.5z M65.7,10.5l-6.8-4L73,4.4L65.7,10.5z M64.6,11.1l-13.2,5.4l6.2-9.5L64.6,11.1z M49.9,16.9L43.1,14L56,7.5L49.9,16.9z
             M49,17.6l-12.4,8.5l5.5-11.4L49,17.6z M49.2,18.7l-4.3,14.4l-8.6-5.6L49.2,18.7z M44.2,34l-10,7.6l1.5-13.2L44.2,34z M33.2,41.8
            L27,37.6l7.6-8.5L33.2,41.8z M32.9,42.8l-6.1,7.8l0-12L32.9,42.8z M33.1,44.2v7.8v0.4v7.8l-6.2-7.9L33.1,44.2z M26.8,53.6l6.1,7.8
            l-6.1,4.2L26.8,53.6z M33.2,62.4l1.5,12.8L27,66.6L33.2,62.4z M34.3,62.6l10,7.6l-8.5,5.5L34.3,62.6z M44.8,71.1l4.3,14.4l-12.9-8.8
            L44.8,71.1z M49,86.6l-6.9,2.9l-5.5-11.4L49,86.6z M49.9,87.3l6.1,9.4l-12.9-6.5L49.9,87.3z M51.4,87.8l13.2,5.4l-7,4.1L51.4,87.8z
             M65.7,93.7l7.4,6.1l-14.1-2.1L65.7,93.7z M84.8,93.7l6.8,4l-14.1,2.1L84.8,93.7z M85.8,93.2l13.2-5.4l-6.2,9.5L85.8,93.2z
             M100.6,87.3l6.8,2.9l-12.9,6.5L100.6,87.3z M101.4,86.6l12.4-8.5l-5.5,11.4L101.4,86.6z M101.3,85.5l4.3-14.4l8.6,5.6L101.3,85.5z
             M106.2,70.2l10-7.6l-1.5,13.2L106.2,70.2z M117.2,62.4l6.2,4.3l-7.6,8.5L117.2,62.4z M117.5,61.4l6.1-7.8l0,12L117.5,61.4z
             M117.3,60.1v-7.8v-0.4v-7.8l6.2,7.9L117.3,60.1z M126.5,46.8l0.2,4.8h-2.1l0-9.2L126.5,46.8z M126,43l-1.4-3.2l0-1.8l0.7-0.3
            L126,43z M125,36.8l-0.6,0.2l-1.7-5L125,36.8z M122.9,35.5l-7.1-7.9l3.4-2.7L122.9,35.5z M115.2,26.8l-5.1-10.6l8.5,7.8L115.2,26.8z
             M110.7,14.3l3.6,4.4l-4.7-4.3L110.7,14.3z M109.5,13.4l-0.8,0.1l-3.4-2.9L109.5,13.4z M105.1,11.7L94.5,6.5l3.5-0.7L105.1,11.7z
             M96.3,5.1l-3.2,0.6l-5.2-3.5L96.3,5.1z M90.9,5.4l-13.1-2l6.6-2.4L90.9,5.4z M75.2,1h6.3l-6.3,2.3l0,0l0,0L68.9,1H75.2z M66.1,1.1
            l6.6,2.4l-13.1,2L66.1,1.1z M62.5,2.2l-5.2,3.5l-3.2-0.6L62.5,2.2z M52.4,5.8l3.5,0.7l-10.6,5.3L52.4,5.8z M45.2,10.6l-3.4,2.9
            l-0.8-0.1L45.2,10.6z M39.7,14.3l1,0.1l-4.7,4.3L39.7,14.3z M40.3,16.2l-5.1,10.6L31.8,24L40.3,16.2z M31.3,24.9l3.4,2.7l-7.1,7.9
            L31.3,24.9z M27.7,32L26,37l-0.6-0.2L27.7,32z M25.1,37.7l0.7,0.3l0,1.8L24.4,43L25.1,37.7z M23.9,46.8l1.9-4.5l0,9.2h-2.1
            L23.9,46.8z M23.9,57.5l-0.2-4.8h2.1l0,9.2L23.9,57.5z M24.4,61.2l1.4,3.2l0,1.8l-0.7,0.3L24.4,61.2z M25.4,67.5l0.6-0.2l1.7,5
            L25.4,67.5z M27.6,68.7l7.1,7.9l-3.4,2.7L27.6,68.7z M35.2,77.4L40.3,88l-8.5-7.8L35.2,77.4z M39.7,89.9l-3.6-4.4l4.7,4.3L39.7,89.9
            z M40.9,90.8l0.8-0.1l3.4,2.9L40.9,90.8z M45.4,92.5l10.6,5.3l-3.5,0.7L45.4,92.5z M54.2,99.1l3.2-0.6l5.2,3.5L54.2,99.1z
             M59.6,98.8l13.1,2l-6.6,2.4L59.6,98.8z M75.2,103.2h-6.3l6.3-2.3l0,0l0,0l6.3,2.3H75.2z M84.3,103.2l-6.6-2.4l13.1-2L84.3,103.2z
             M87.9,102l5.2-3.5l3.2,0.6L87.9,102z M98.1,98.4l-3.5-0.7l10.6-5.3L98.1,98.4z M105.3,93.6l3.4-2.9l0.8,0.1L105.3,93.6z
             M110.7,89.9l-1-0.1l4.7-4.3L110.7,89.9z M110.2,88l5.1-10.6l3.4,2.8L110.2,88z M119.2,79.3l-3.4-2.7l7.1-7.9L119.2,79.3z
             M122.7,72.3l1.7-5l0.6,0.2L122.7,72.3z M125.3,66.5l-0.7-0.3l0-1.8l1.4-3.2L125.3,66.5z M126.5,57.5l-1.9,4.5l0-9.2h2.1L126.5,57.5
            z"/>
    </svg>
</template>

<script>
export default {
    name: 'GlobalLogo',
};
</script>

<style scoped lang="scss">
.st0 {
    fill: #0c511b;
}

.st1 {
    fill: #106b24;
}

.st2 {
    fill: #14842c;
}

.st3 {
    fill: #083311;
}

.st4 {
    fill: #1dbc3f;
}

.st5 {
    fill: #25ef50;
}

.st6 {
    fill: #26ff5e;
}
</style>
