<template>
    <div
        v-if="videoid"
        class="video-container"
    >
        <div
            :style="'background-image: url(' + videoimage + ')'"
            :class="{ off: videoScreen == false }"
            class="video-overlay"
        >
            <button
                ref="componentBtn"
                :class="{ [videosize]: true }"
                class="btn-play centered"
                @click="videoPlay()"
            >
                <svg class="btn-play_icon small">
                    <use xlink:href="../static/images/app.svg#icon_play-btn"/>
                </svg>
                <span class="access-hidden">
                    Play Button
                </span>
            </button>
            <button
                ref="componentPause"
                class="btn-pause access-hidden"
                @click="videoPause()"
            >
                <span class="access-hidden">
                    Pause Button
                </span>
            </button>
            <div
                v-if="btnsubhead"
                :class="{ [videosize]: true }"
                class="video_subhead centered"
                v-text="btnsubhead"
            />
        </div>
        <iframe
            v-if="platform == 'youtube'"
            ref="componentVideo"
            :src="'https://www.youtube.com/embed/' + videoid + '?enablejsapi=1'"
            frameborder="0"
            allowfullscreen
        />
        <iframe
            v-if="platform == 'vimeo'"
            ref="componentVideo"
            :src="'//player.vimeo.com/video/' + videoid + '?api=1'"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
        />
    </div>
</template>

<script>
import Player from '@vimeo/player';

export default {
    name: 'GlobalVideo',
    props: {
        platform: {
            type: String,
            default: 'youtube',
        },
        videoid: {
            type: String,
            default: undefined,
        },
        videoimage: {
            type: String,
            default: undefined,
        },
        videosize: {
            type: String,
            default: 'large',
        },
        version: {
            type: Number,
            default: 1,
        },
        btnsubhead: {
            type: String,
            required: false,
            default: undefined,
        },
    },
    data() {
        return {
            videoScreen: true,
            vimeoplayer: undefined,
        };
    },
    mounted() {
        const iframe = this.$refs.componentVideo;
        const playBtn = this.$refs.componentBtn;
        const pauseBtn = this.$refs.componentPause;
        let position;

        if (this.platform === 'youtube') {
            window.addEventListener('load', () => {
                window.videoList.push(iframe);
                position = window.videoList.lastIndexOf(iframe);
            });

            playBtn.addEventListener('click', () => {
                window.readyYoutubeVids[position].playVideo();
            });

            pauseBtn.addEventListener('click', () => {
                window.readyYoutubeVids[position].pauseVideo();
            });
        } else if (this.platform === 'vimeo') {
            this.vimeoplayer = new Player(iframe); // eslint-disable-line no-undef
        }
    },
    methods: {
        videoPlay() {
            this.videoScreen = false;
            // window.readyYoutubeVids[this.mounted.position].playVideo();

            if (this.platform === 'vimeo') {
                this.vimeoplayer.play();
            }
        },
        videoPause() {
            if (this.platform === 'vimeo') {
                this.vimeoplayer.pause();
            }
        },
    },
};
</script>

<style lang="scss">
/* stylelint-disable */

/* ------------------------------------------------ */

/* BASE RESPONSIVE VIDEO STYLES (REUSABLE ANYWHERE) */

/* ------------------------------------------------ */

.video-container {
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    visibility: visible;
    background-position: center;
    background-size: cover;
    opacity: 1;
    transition: visibility 0.6s, opacity 0.6s;

    &.off {
        visibility: hidden;
        opacity: 0;
    }
}

/* ----------------------------------------- */

/* RESPONSIVE VIDEO AMENDMENTS AND MODIFIERS */

/* ----------------------------------------- */

.video-container {
    margin-bottom: 80px;

    &:last-child {
        margin-bottom: 0;
    }
}
</style>
