<template>
    <div class="contribution-form">
        <button
            class="contribution-form__close-button"
            @click="$parent.$parent.contributionMenu = false"
        >
            <span class="contribution-form__close-button__span"/>
        </button>
        <h2 class="contribution-form__header">Contribute</h2>
        <p class="contribution-form__paragraph_confirm paragraph_01">Please confirm the details of your incentive choice below.</p>
        <project-incentive-box
            :header="incentive.header"
            :cta="incentive.cta"
            :content="incentive.content"
            tag="div"
        />
        <button
            :class="{ 'button_action_processing': processing === true }"
            class="button_action"
            @click="contribute()"
        >
            <global-mrbl-icon />
            Contribute
        </button>
        <div
            :class="{'transaction-beacon_active': processing === true}"
            class="transaction-beacon"
        >
            <div
                :class="{'transaction-beacon__beacon_failure': processStatus === 'Failure'}"
                class="transaction-beacon__beacon"
            />
            <div
                :class="{ 'transaction-beacon__text_active': processStatus === 'Success' || processStatus === 'Failure', 'transaction-beacon__text_failure': processStatus === 'Failure' }"
                class="transaction-beacon__text"
                v-text="processStatus"
            />
        </div>
        <div
            :class="{'transaction-beacon__text_active': recentHash }"
            class="transaction-beacon__text transaction-beacon__text_hash">TX: {{ recentHash }}</div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'GlobalContributionForm',
    props: {
        contributionId: {
            type: String,
            required: true,
        },
        incentive: {
            type: Object,
            required: false,
            default: () => ({}),
        },
    },
    data() {
        return {
            processing: false,
            processStatus: '',
            recentHash: undefined,
        };
    },
    methods: {
        contribute() {
            this.processing = true;

            axios.get(`${this.$root.path}/transaction/${this.$root.currentUser.id}/${this.$parent.$parent.projectId}/${this.incentive.id}`).then((res) => {
                const payment = res;
                setTimeout(() => {
                    axios.get(`${this.$root.path}/transaction-status/${payment.data.transaction.id}`).then((d) => {
                        if (d.data.transaction.transaction_hash) {
                            /* eslint-disable */
                            console.log(d);
                            /* eslint-enable */
                            this.processStatus = 'Success';
                            this.recentHash = d.data.transaction.transaction_hash;

                            const newContribution = {
                                from_user_id: d.data.transaction.from_user_id,
                                to_user_id: d.data.transaction.to_user_id,
                                transaction_hash: d.data.transaction.transaction_hash,
                                transaction_timestamp: d.data.transaction.timestamp,
                                value: this.incentive.value,
                            };
                            this.$root.pushToDB(newContribution);
                        } else {
                            this.processStatus = 'Failure';
                        }
                    });
                }, 3000);
                setTimeout(() => {
                    this.$root.$emit('updateBalance');
                }, 5000);
            });
        },
    },
};
</script>
