<template>
    <div class="progress-hexagon">
        <pre class="progress-hexagon__number">{{ progress }}<sup class="progress-hexagon__number__percent">%</sup></pre>
        <svg
            class="progress-hexagon__svg"
            viewBox="0 0 180.9 156.7"
        >
            <polygon
                :class="{'progress-hexagon__t1': progress >= 100}"
                class="progress-hexagon__t"
                points="90.5,78.3 135.7,0 45.2,0"
            />
            <polygon
                :class="{'progress-hexagon__t2': progress >= 83}"
                class="progress-hexagon__t"
                points="90.5,78.3 45.2,0 0,78.3"
            />
            <polygon
                :class="{'progress-hexagon__t3': progress >= 66}"
                class="progress-hexagon__t"
                points="90.5,78.3 0,78.3 45.2,156.7"
            />
            <polygon
                :class="{'progress-hexagon__t4': progress >= 50}"
                class="progress-hexagon__t"
                points="90.5,78.3 45.2,156.7 135.7,156.7"
            />
            <polygon
                :class="{'progress-hexagon__t5': progress >= 33}"
                class="progress-hexagon__t"
                points="90.5,78.3 135.7,156.7 180.9,78.3"
            />
            <polygon
                :class="{'progress-hexagon__t6': progress >= 17}"
                class="progress-hexagon__t"
                points="90.5,78.3 180.9,78.3 135.7,0"
            />
        </svg>
    </div>
</template>

<script>
export default {
    name: 'GlobalProgressHexagon',
    props: {
        progress: {
            type: Number,
            required: true,
        },
    },
};
</script>
