<template>
    <div>
        <div class="hero_home">
            <div class="row_global">
                <div class="hero_home__content">
                    <h1 class="hero_home__heading">
                        Welcome to <strong>Marble</strong>.
                        <br>A crowdfunding micro-economy,
                        built and managed on the OpenST utility blockchain.
                    </h1>
                    <a
                        class="hero_home__button_main"
                        href="/"
                    >Learn More</a>
                </div>
            </div>
            <div class="row_global row_global_collapsed">
                <button class="hero_home__button">Explore</button>
            </div>
        </div>
        <div class="row_global">
            <h2 class="hero_home__heading_scroll scroll-marked">
                <span class="inner-highlight">Featured</span>
            </h2>
        </div>
        <div
            is="global-carousel"
            class="home__carousel"
        >
            <div
                v-for="slide in slides"
                slot="slides"
                :key="slides.indexOf(slide)"
                class="home__carousel__slide slide"
            >
                <div class="home__carousel__overlay overlay_global">
                    <div class="home__carousel__inner row_global">
                        <div class="home__carousel__content">
                            <router-link
                                :to="'project'"
                                class="home__carousel__heading"
                                v-text="slide.name"
                            />
                            <p
                                class="home__carousel__p"
                                v-text="slide.descript"
                            />
                            <div
                                is="global-tags"
                                :amount="slide.amount"
                                :category="slide.category"
                                :content-type="slide.contentType"
                            />
                        </div>
                    </div>
                </div>
                <div class="home__carousel__image">
                    <img
                        :src="slide.img"
                        class="home__carousel__img"
                    >
                </div>
            </div>
        </div>
        <div
            is="global-four-block-layout"
            :blocks="newContent"
            header="New"
        />
        <div class="explore-blocks">
            <div class="row_global">
                <div class="explore-blocks__item">
                    <div class="explore-blocks__button">
                        <router-link
                            :to="'projects'"
                            class="explore-blocks__overlay"
                        >
                            <div class="explore-blocks__content">
                                <svg
                                    class="explore-blocks__icon"
                                    viewBox="0 0 360.5 432.4"
                                >
                                    <path d="M180.6,93.2c-61.2,0-111.2,50-111.2,111.2c0,32,14,62.8,37.6,83.6c17.6,17.6,16,55.2,15.6,55.6c0,2,0.4,3.6,2,5.2c1.2,1.2,3.2,2,4.8,2h102c2,0,3.6-0.8,4.8-2c1.2-1.2,2-3.2,2-5.2c0-0.4-2-38,15.6-55.6c0.4-0.4,0.8-0.8,1.2-1.2c23.2-21.2,36.8-51.2,36.8-82.4C291.8,143.2,241.8,93.2,180.6,93.2z M244.6,277.6c-0.4,0.4-1.2,1.2-1.2,1.6c-15.6,16.8-18.4,44.4-18.8,57.6h-88.4c-0.4-13.2-3.2-42-20-59.2C95,259.2,82.6,232.4,82.6,204c0-54,43.6-97.6,97.6-97.6s97.6,43.6,97.6,97.6C277.8,232.4,265.8,259.2,244.6,277.6z"/>
                                    <path d="M180.2,121.6c-3.6,0-6.8,3.2-6.8,6.8c0,3.6,3.2,6.8,6.8,6.8c40.4,0,72.8,32.8,72.8,72.8c0,3.6,3.2,6.8,6.8,6.8c3.6,0,6.8-3.2,6.8-6.8C267,160.4,228.2,121.6,180.2,121.6z"/>
                                    <path d="M224.6,358.4h-88.8c-9.2,0-16.8,7.6-16.8,16.8s7.6,16.8,16.8,16.8h88.4c9.6-0.4,17.2-7.6,17.2-16.8S233.8,358.4,224.6,358.4z M224.6,378h-88.8c-1.6,0-3.2-1.2-3.2-3.2s1.2-3.2,3.2-3.2h88.4c1.6,0,3.2,1.2,3.2,3.2S226.2,378,224.6,378z"/>
                                    <path d="M211.4,398.8H149c-9.2,0-16.8,7.6-16.8,16.8s7.6,16.8,16.8,16.8h62.4c9.2,0,16.8-7.6,16.8-16.8C228.2,406,220.6,398.8,211.4,398.8z M211.4,418.4H149c-1.6,0-3.2-1.2-3.2-3.2s1.2-3.2,3.2-3.2h62.4c1.6,0,3.2,1.2,3.2,3.2S213,418.4,211.4,418.4z"/>
                                    <path d="M180.2,60c4,0,6.8-3.2,6.8-6.8V6.8c0-3.6-3.2-6.8-6.8-6.8s-6.8,3.2-6.8,6.8v46.4C173.4,56.8,176.6,60,180.2,60z"/>
                                    <path d="M293.4,34.4c-3.2-2.4-7.2-1.2-9.2,1.6l-25.6,38.4c-2.4,3.2-1.6,7.6,1.6,9.6c1.2,0.8,2.4,1.2,3.6,1.2c2.4,0,4.4-1.2,5.6-3.2L295,43.6C297.4,40.8,296.6,36.4,293.4,34.4z"/>
                                    <path d="M99,83.6c1.2,0,2.4-0.4,3.6-1.2c3.2-2,4-6.4,2-9.6L79.8,34c-2-3.2-6.4-4-9.6-2s-4,6.4-2,9.6L93,80.4C94.6,82.8,96.6,83.6,99,83.6z"/>
                                    <path d="M50.6,126l-40.4-22c-3.2-1.6-7.6-0.4-9.2,2.8c-2,3.2-0.8,7.6,2.8,9.2l40.4,22c1.2,0.4,2,0.8,3.2,0.8c2.4,0,4.8-1.2,6-3.6C55,132,53.8,127.6,50.6,126z"/>
                                    <path d="M359.8,106.8c-1.6-3.2-6-4.4-9.2-2.8l-40.8,22c-3.2,1.6-4.4,6-2.8,9.2c1.2,2.4,3.6,3.6,6,3.6c1.2,0,2.4-0.4,3.2-0.8l40.8-22C360.2,114.4,361.4,110,359.8,106.8z"/>
                                </svg>
                                <h3 class="explore-blocks__header">Ideas</h3>
                                <p class="explore-blocks__p">Ideas are projects launched by creators and producers seeking funding. These initiatives come with roadmaps, and often offer incentives to contributors for successfully assisting them with meeting thier funding goals!</p>
                            </div>
                        </router-link>
                        <img
                            class="explore-blocks__frame"
                            src="images/blank.png"
                        >
                    </div>
                </div>
                <div class="explore-blocks__item">
                    <div class="explore-blocks__button">
                        <router-link
                            :to="'projects'"
                            class="explore-blocks__overlay"
                        >
                            <div class="explore-blocks__content">
                                <svg
                                    class="explore-blocks__icon"
                                    viewBox="0 0 413.2 481"
                                >
                                    <path d="M389.4,274.7c-12.6-29-30-57.1-52-83.4c-26.6-32-53.1-53.4-66.6-63.3l51-94.6c2.5-4.7,1.7-10.5-2.2-14.2C306.4,6.3,292.4,0,276.8,0c-14.3,0-27.4,5.4-38.8,10.2c-9,3.7-17.5,7.3-24.4,7.3c-2.1,0-3.9-0.3-5.7-1c-23.8-8.7-42.1-14.1-59.8-14.1c-22.4,0-41.5,9-60.2,28.2c-3.9,4-4.5,10.3-1.4,15l55,83.1c-13.6,10.1-39.6,31.3-65.7,62.6c-21.9,26.3-39.4,54.4-52,83.4C8,311.2,0,349.3,0,387.9C0,439.2,41.8,481,93.1,481h227c51.3,0,93.1-41.8,93.1-93.1C413.2,349.3,405.2,311.2,389.4,274.7z M112.1,40.6c11.6-10,22.7-14.4,36-14.4c14.2,0,30.2,4.8,51.5,12.7c4.4,1.6,9.1,2.4,13.9,2.4c11.7,0,22.9-4.6,33.6-9.1c10.3-4.3,20.1-8.4,29.6-8.4c4.6,0,11.1,0.8,19.3,6.6l-48,89.2h-83.6L112.1,40.6z M320.1,457h-227C55,457,24,426,24,387.9c0-64.1,23.5-124.9,69.7-180.7c29.2-35.3,58.9-57.2,67.9-63.6h89.8c9.1,6.3,38.7,28.3,67.9,63.6C365.6,263,389,323.7,389,387.9C389.2,426,358.2,457,320.1,457z"/>
                                    <path d="M109.7,253.9c0-6.7,3.5-10.4,10.2-10.4h9.7c6.7,0,10.2,3.7,10.2,10.4v7.7c0,2.7-0.5,5.7-0.5,5.7h0.5c6.2-12.4,21.6-26.8,41.4-26.8c19.1,0,31.8,8.9,37,26.1h0.5c6.7-13.2,23.3-26.1,43.2-26.1c26.3,0,41.4,14.9,41.4,48.1v71c0,6.9-3.7,10.4-10.4,10.4h-10.7c-6.9,0-10.4-3.5-10.4-10.4v-65c0-14.4-2.7-25.3-17.4-25.3c-21.3,0-32.3,21.8-32.3,43.9v46.4c0,6.9-3.5,10.4-10.2,10.4H201c-6.7,0-10.4-3.5-10.4-10.4v-65c0-13.6-2-25.3-16.9-25.3c-22.3,0-32.8,22.8-32.8,43.9v46.4c0,6.9-3.5,10.4-10.2,10.4h-10.9c-6.7,0-10.2-3.5-10.2-10.4V253.9z"/>
                                </svg>
                                <h3 class="explore-blocks__header">Bags</h3>
                                <p class="explore-blocks__p">Bags are funding initiatives launched by philanthropist and do-gooders seeking creators and producers to solve a specific problem. They're a collection of MARBLE, aggregated by a curator, and waiting to be matched with a compatible project.</p>
                            </div>
                        </router-link>
                        <img
                            class="explore-blocks__frame"
                            src="images/blank.png"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ScrollMagic from 'scrollmagic';

export default {
    name: 'HomePage',
    data() {
        return {
            slides: [
                {
                    name: 'Sandman Curio & Urban Garments',
                    descript: "A miscellaneous streetwear brand. They're looking for funding to continue operations through the year. Incentives include free t-shirts for MRBL goal. Lorem ipsum dolar set.",
                    amount: '306,403',
                    category: 'Fashion',
                    contentType: 'Idea',
                    img: 'cms_content/lookbook1.jpg',
                },
                {
                    name: 'Mars Collective',
                    descript: "A group fund backed by educators in astronomy, looking to fund a new textbook publication that highlights recent developments from NASA's Curiosity Space Rover mission. Incentives include early copies of the book.",
                    amount: '126,309',
                    category: 'Education',
                    contentType: 'Bag',
                    img: 'cms_content/curiosity.jpg',
                },
            ],
            newContent: [
                {
                    name: 'The Legendary Warrior',
                    descript: 'A typical indie game project with rogue-like elements, looking for funding to finish graphic assets for thier finished product.',
                    img: 'cms_content/test-content1.jpg',
                    category: 'Development',
                    contentType: 'Idea',
                },
                {
                    name: 'Shut Up and Take Our Money',
                    descript: 'A Futurama fan club raising funds to entice series creator Matt Groening and 20th Century Fox to produce an 8th season.',
                    img: 'cms_content/test-content2.jpg',
                    category: 'Production',
                    contentType: 'Bag',
                },
                {
                    name: 'More Water for Flint',
                    descript: 'An philanthropist project to provide the city of Flint with more bottles of clean water, now that the government has stopped providing them.',
                    img: 'cms_content/test-content3.jpg',
                    category: 'Philanthropy',
                    contentType: 'Idea',
                },
                {
                    name: 'The Diversity Project',
                    descript: 'A developing fund, contributed to by East Coast educators and parents, looking to tackle the the diversity issue plaguing Manhattan institutions',
                    img: 'cms_content/test-content4.jpg',
                    category: 'Education',
                    contentType: 'Bag',
                },
            ],
        };
    },
    mounted() {
        const controller = new ScrollMagic.Controller();

        // create a scene
        new ScrollMagic.Scene({
            duration: 80, // the scene should last for a scroll distance of 100px
            triggerHook: 0,
            reverse: true,
        })
            .setPin('.scroll-marked', {
                pushFollowers: false,
            }) // pins the element for the the scene's duration
            // .setClassToggle('.scroll-marked', 'deactive')
            .addTo(controller); // assign the scene to the controller
    },
};
</script>
