<template>
    <section
        is="global-filter"
        class="project-index"
    >
        <div slot-scope="filter">
            <div class="project-index__bottom">
                <div class="project-index__bottom__inner">
                    <div class="project-index__filter-wrap">
                        <li class="project-index__filter__item project-index__filter__item_all">
                            <button
                                is="global-filter-button"
                                :filter-category="'All'"
                                class="project-index__filter__button"
                                v-text="'All'"
                            />
                        </li>
                        <ul class="project-index__filter">
                            <div class="project-index__filter__inner">
                                <li class="project-index__filter__item">
                                    <button
                                        is="global-filter-button"
                                        :filter-category="'Idea'"
                                        class="project-index__filter__button"
                                        v-text="'Idea'"
                                    />
                                </li>
                                <li class="project-index__filter__item">
                                    <button
                                        is="global-filter-button"
                                        :filter-category="'Bag'"
                                        class="project-index__filter__button"
                                        v-text="'Bag'"
                                    />
                                </li>
                                <li
                                    v-for="button in buttons"
                                    :key="buttons.indexOf(button)"
                                    class="project-index__filter__item">
                                    <button
                                        is="global-filter-button"
                                        :filter-category="button"
                                        class="project-index__filter__button"
                                        v-text="button"
                                    />
                                </li>
                            </div>
                        </ul>
                        <div class="project-index__filter__button project-index__filter__chevron">
                            A - Z
                        </div>
                    </div>
                </div>
            </div>
            <div
            >
                <div
                    is="global-filter-items-wrap"
                    class="project-index__items-wrap"
                >
                    <div
                        is="global-filter-item"
                        v-for="item in blocks"
                        :key="blocks.indexOf(item)"
                        :filter-category="[item.contentType, item.category]"
                        class="project-index__item"
                    >
                        <div class="project-index__block">
                            <router-link
                                :to="'project'"
                                class="project-index__image">
                                <img
                                    :src="item.img"
                                    class="project-index__img"
                                >
                            </router-link>
                            <router-link
                                :to="'project'"
                                class="project-index__name"
                                v-text="item.name" />
                            <p
                                class="project-index__p"
                                v-text="item.descript" />
                            <div
                                is="global-tags"
                                :amount="item.amount"
                                :category="item.category"
                                :content-type="item.contentType"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'ProjectIndexPage',
    data() {
        return {
            buttons: [
                'Culinary',
                'Education',
                'Fashion',
                'Film & TV',
                'Games',
                'Humanitarian',
                'Music',
                'Technology',
            ],
            blocks: [
                {
                    name: 'Sandman Curio & Urban Garments',
                    descript: "A miscellaneous streetwear brand. They're looking for funding to continue operations through the year. Incentives include free t-shirts for MRBL goal. Lorem ipsum dolar set.",
                    amount: '306,403',
                    category: 'Fashion',
                    contentType: 'Idea',
                    img: 'cms_content/lookbook1.jpg',
                },
                {
                    name: 'Mars Collective',
                    descript: "A group fund backed by educators in astronomy, looking to fund a new textbook publication that highlights recent developments from NASA's Curiosity Space Rover mission.",
                    amount: '126,309',
                    category: 'Education',
                    contentType: 'Bag',
                    img: 'cms_content/curiosity.jpg',
                },
                {
                    name: 'The Legendary Warrior',
                    descript: 'A typical indie game project with rogue-like elements, looking for funding to finish graphic assets for thier finished product.',
                    img: 'cms_content/test-content1.jpg',
                    category: 'Games',
                    contentType: 'Idea',
                    amount: '34,020',
                },
                {
                    name: 'Shut Up and Take Our Money',
                    descript: 'A Futurama fan club raising funds to entice series creator Matt Groening and 20th Century Fox to produce an 8th season.',
                    img: 'cms_content/test-content2.jpg',
                    category: 'Production',
                    contentType: 'Bag',
                    amount: '24,654',
                },
                {
                    name: 'More Water for Flint',
                    descript: 'An philanthropist project to provide the city of Flint with more bottles of clean water, now that the government has stopped providing them.',
                    img: 'cms_content/test-content3.jpg',
                    category: 'Humanitarian',
                    contentType: 'Idea',
                    amount: '2030',
                },
                {
                    name: 'The Diversity Project',
                    descript: 'A developing fund, contributed to by East Coast educators and parents, looking to tackle the the diversity issue plaguing Manhattan institutions',
                    img: 'cms_content/test-content4.jpg',
                    category: 'Education',
                    contentType: 'Bag',
                    amount: '19,304',
                },
            ],
        };
    },
};
</script>
