<template>
    <div class="project">
        <project-hero
            :title="projectTitle"
            :content="projectPitch"
            :percentage="Number(((projectWallet / projectGoal) * 100).toFixed(0))"
        />
        <section class="project-information">
            <div class="project-information__inner">
                <div class="project-information__main">
                    <global-fixed-sidebar>
                        <global-contribution-form
                            :class="{ 'contribution-form_active': contributionMenu === true }"
                            :contribution-id="projectId"
                            :incentive="userIncentive"
                        />
                    </global-fixed-sidebar>
                    <div class="project-information__mobile-head">
                        <h1
                            class="heading_01"
                            v-text="projectTitle"
                        />
                        <p
                            class="paragraph_01"
                            v-text="projectPitch"
                        />
                    </div>
                    <h2 class="project-information__header">Overview</h2>
                    <div class="project-information__details">
                        <div class="project-information__user">
                            <div class="project-information__headshot">
                                <img
                                    src="cms_content/me.jpg"
                                    class="project-information__headdshot__img"
                                >
                            </div>
                            <div class="project-information__user__content">
                                <div class="project-information__user__name">By Greg Spraggins</div>
                                <div class="project-information__user__details">3 Projects</div>
                            </div>
                        </div>
                        <div class="project-information__user__content contributors">
                            <h2 class="project-information__subheader">73 Contributors</h2>
                            <div class="project-information__paragraph">{{ projectWallet }} / {{ projectGoal }} MRBL</div>
                        </div>
                        <div class="project-information__user__content days">
                            <h2 class="project-information__subheader">Days Remaining</h2>
                            <div class="project-information__paragraph">27</div>
                        </div>
                    </div>
                    <div class="project-information__wysiwyg wysiwyg">
                        <p>Sandman Curio & Urban Garments ® is an unabashed street fashion and knickknacks brand with pieces strongly influenced by the golden age of toys and television mascots from the mid to late 1900s. It stands as a tribute to the imagination of the youth from the perspective of adulthood, and attempts to pay homage to a childhood tradition on the verge of decline, in the wake of the digital era.</p>
                        <p>Nam ut pharetra urna. Nunc eleifend dapibus odio, quis commodo nibh consequat eu. Nulla elementum libero nec mauris faucibus, quis viverra dui condimentum. Nullam hendrerit ornare efficitur. Suspendisse potenti. Phasellus lobortis dui a dui viverra, eu accumsan massa euismod. Aliquam gravida imperdiet turpis eget eleifend. Suspendisse ac congue ipsum. Aliquam tempus sem posuere, lacinia lectus non, ultricies odio. Nulla facilisi. Curabitur id lorem eros. Aliquam nec lacinia nisl. Etiam sed nibh elit.</p>
                        <img src="cms_content/project_content_test1.jpg">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non rhoncus urna. Nulla ac ornare sem. Nam vulputate ex leo. Fusce varius vitae tortor sagittis lacinia. Aenean non est consequat, fermentum est a, ultricies magna. Praesent dapibus iaculis aliquet. Proin est quam, eleifend ullamcorper ligula luctus, vulputate posuere sapien. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                </div>
                <div class="project-information__secondary">
                    <h2 class="project-information__header">Incentives</h2>
                    <project-incentive-box
                        v-for="incentive in incentives"
                        :key="incentives.indexOf(incentive)"
                        :header="incentive.header"
                        :cta="incentive.cta"
                        :content="incentive.content"
                        @click.native="updateContribution(incentive)"
                    />
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'ProjectPage',
    data() {
        return {
            projectId: '1709ea68-01d5-493d-b51a-dfbca35ca7a2',
            projectTitle: 'Sandman Curio & Urban Garments',
            projectPitch: "A miscellaneous streetwear brand. They're looking for funding to continue operations through the year. Incentives include free t-shirts for MRBL goal. Lorem ipsum dolar set.",
            projectWallet: 0,
            projectGoal: 1300,
            userIncentive: {},
            contributionMenu: false,
            incentives: [
                {
                    header: '1 MRBL',
                    value: 1,
                    cta: 'Contribute 1 MRBL',
                    content: '<p>Get a shoutout on our new site launch, on our list of contributors.</p><ul><li>Name Listing</li></ul>',
                    transaction: 'Contribution Tiny',
                    id: '37084',
                },
                {
                    header: '25 MRBL',
                    value: 25,
                    cta: 'Contribute 25 MRBL',
                    content: '<p>Get one free mystery bag of merchandise, worth a planned 50 MRBL.</p><ul><li>Mystery Bag</li></ul><p>Free shipping to US, EU& JP.</p>',
                    transaction: 'Contribution Small',
                    id: '30876',
                },
                {
                    header: '50 MRBL',
                    value: 50,
                    cta: 'Contribute 50 MRBL',
                    content: '<p>Get one free mystery bag of merchandise, worth a planned 50 MRBL and VIP access to our brick and mortar grand opening.</p><ul><li>Mystery Bag</li><li>VIP Access to Grand Opening</li></ul><p>Free shipping to US, EU& JP.</p>',
                    transaction: 'Contribution Medium',
                    id: '30877',
                },
                {
                    header: '100 MRBL',
                    value: 100,
                    cta: 'Contribute 100 MRBL',
                    content: '<p>Get one free mystery bag of merchandise, worth a planned 50 MRBL, VIP access to our brick and mortar grand opening and your name on the special edtion marble t-shirt drop.</p><ul><li>Mystery Bag</li><li>VIP Access to Grand Opening</li><li>Name included on limited edition t-shirt, and early access to merchandise</li></ul><p>Free shipping to US, EU& JP.</p>',
                    transaction: 'Contribution Large',
                    id: '31217',
                },
            ],
        };
    },
    mounted() {
        axios.get(`${this.$root.path}/user/${this.projectId}`).then((res) => {
            this.projectWallet = res.data.user.token_balance;
        });
    },
    methods: {
        updateContribution(i) {
            this.userIncentive = i;
            this.contributionMenu = true;
        },
    },
};
</script>
