<template>
    <div class="project-hero">
        <div class="project-hero__inner">
            <div
                :class="{'project-hero__overlay__inactive': childPlaying === true }"
                class="project-hero__overlay overlay_global"
            >
                <div class="project-hero__details">
                    <global-progress-hexagon
                        :progress="percentage"
                    />
                    <h1
                        class="project-hero__header"
                        v-text="title"
                    />
                    <p
                        class="project-hero__pitch"
                        v-text="content"
                    />
                    <button
                        class="project-hero__button"
                        @click="playChild()"
                    >
                        Watch Now
                    </button>
                </div>
            </div>
            <global-video
                platform="youtube"
                videoid="yaqe1qesQ8c"
                videoimage="cms_content/lookbook1.jpg"
            />
        </div>
    </div>
</template>

<script>
export default {
    name: 'ProjectHero',
    props: {
        title: {
            type: String,
            required: true,
        },
        content: {
            type: String,
            required: true,
        },
        percentage: {
            type: Number,
            required: true,
        },
    },
    data() {
        return {
            childPlaying: false,
        };
    },
    methods: {
        playChild() {
            this.childPlaying = true;
            this.$children[1].$refs.componentBtn.click();
        },
    },
};
</script>
