<template>
    <div class="project-information__incentive">
        <button class="project-information__incentive__overlay overlay_global">
            <div
                v-if="cta"
                class="project-information__subheader"
                v-text="cta"
            />
        </button>
        <h3
            v-if="header"
            class="project-information__subheader"
            v-text="header"
        />
        <div
            v-if="content"
            class="project-information_wysiwyg wysiwyg"
            v-html="content"
        />
    </div>
</template>

<script>
export default {
    name: 'ProjectIncentiveBox',
    props: {
        header: {
            type: String,
            required: false,
            default: undefined,
        },
        value: {
            type: Number,
            required: false,
            default: 0,
        },
        cta: {
            type: String,
            required: false,
            default: undefined,
        },
        content: {
            type: String,
            required: false,
            default: undefined,
        },
    },
};
</script>
