<template>
    <div
        class="slider_container"
        @mouseover="focusMode = true"
        @mouseleave="focusMode = false"
    >
        <slot
            :activeSlide="activeSlide"
            name="dots"
        />
        <div
            v-resize="slideResize"
            ref="slider"
            class="slider"
        >
            <div
                ref="rail"
                :class="{ 'e-break': transitioning == false }"
                class="slider__rail"
                @transitionend="slideTransitionEnd()"
            >
                <slot
                    name="slides"
                />
            </div>
        </div>
        <div
            class="slider__navigation"
            role="navigation"
            aria-label="Carousel Navigator"
        >
            <button
                class="slider__navigation-btn left"
                @click="slideMove('left')"
            >
                <slot name="navigation__left"/>
                <span class="access-hidden">Slider Button Navigate Left</span>
            </button>
            <button
                class="slider__navigation-btn right"
                @click="slideMove('right')"
            >
                <slot name="navigation__right"/>
                <span class="access-hidden">Slider Button Navigate Right</span>
            </button>
        </div>
    </div>
</template>

<script>
// Against my better judgement,
// I've installed a package to detect module resizing
// because using window.resize only seems to trigger
// on the last slider on the page
// as opposed to all of them.

import resize from 'vue-resize-directive';
import Velocity from 'velocity-animate';
import Hammer from 'hammerjs';

export default {
    name: 'GlobalCarousel',
    directives: {
        resize,
    },
    data() {
        return {
            activeSlide: 1,
            slideCount: null,
            transitioning: false,
            stop: false,
            hammer: {},
            focusMode: false,
            autoTimer: undefined,
        };
    },
    mounted() {
        const component = this;
        let j = 0;
        this.slideDuplicate();
        this.slideResize();

        // Check if the browser is Safari 10 or below
        const isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification); // eslint-disable-line

        if (isSafari) {
            this.slideMove(1);
            setTimeout(() => {
                this.autoNextSlide();
            }, 1000);
        } else {
            this.autoNextSlide();
        }

        this.hammer = new Hammer(this.$refs.slider);

        this.hammer.on('panleft', (ev) => {
            if (window.innerWidth >= 767) {
                j = ev.deltaX;
                component.$refs.rail.style.left = `${j}px`;
            }
        });

        this.hammer.on('panright', (ev) => {
            if (window.innerWidth >= 767) {
                j = ev.deltaX;
                component.$refs.rail.style.left = `${j}px`;
            }
        });

        this.hammer.on('panstart', () => {
            component.$refs.rail.style.cursor = '-webkit-grabbing';
        });

        this.hammer.on('swipeleft', () => {
            component.slideMove('right');
        });

        this.hammer.on('swiperight', () => {
            component.slideMove('left');
        });

        this.hammer.on('panend pancancel', () => {
            j = 0;
            component.$refs.rail.style.cursor = '-webkit-grab';
            component.$refs.rail.style.left = `${j}px`;
        });
    },
    beforeDestroy() {
        const slider = this;
        clearInterval(slider.autoTimer);
    },
    methods: {
        slideDuplicate() {
            const fakelist = this.$refs.slider.getElementsByClassName('slide');
            const slideList = [];

            for (let i = 0; i < fakelist.length; i += 1) {
                slideList.push(fakelist[i]);
            }

            this.slideCount = slideList.length;

            // Need to clone the first and last slides
            // and append and prepend them to the end
            // and beginning of our slide list

            const firstSlideClone = slideList[0].cloneNode(true);
            const lastSlideClone = slideList[slideList.length - 1].cloneNode(true);

            this.$refs.rail.insertBefore(lastSlideClone, this.$refs.rail.childNodes[0]);
            this.$refs.rail.appendChild(firstSlideClone);
        },
        slideResize() {
            // This snippet turns an HTMLCOLLECTION
            // into a true javascript array because
            // getElementByClassName is a useless method sometimes

            const fakelist = this.$refs.slider.getElementsByClassName('slide');
            const slideList = [];

            for (let i = 0; i < fakelist.length; i += 1) {
                slideList.push(fakelist[i]);
            }
            // End snippet

            // Get current height and width of the slider container
            const currentHeight = this.$refs.slider.offsetHeight;
            const currentWidth = this.$refs.slider.offsetWidth;

            // Apply that height and width to every slide in your slider
            for (const slide in slideList) { // eslint-disable-line no-restricted-syntax
                if (Object.prototype.hasOwnProperty.call(slideList, slide)) {
                    slideList[slide].style.height = `${currentHeight}px`;
                    slideList[slide].style.width = `${currentWidth}px`;
                }
            }

            // Set the slider rail width to facilitate the correct number of slides.
            // Not necessary for this example.

            // Initialize the starting position of the slider

            Velocity(this.$refs.rail, { translateX: -currentWidth }, 0);
        },
        slideMove(i) {
            const component = this;
            const theRail = this.$refs.rail;
            const sliderWidth = theRail.parentNode.offsetWidth;
            const direction = i;
            let moveToSlide;

            // This vue component comes with a
            // transitioning data flag set to false by default.

            // When the function starts, we check to make sure the flag
            // isnt true to prevent transition conflicts

            if (this.transitioning === false) {
                // Set the aforementioned flag to true
                // so the button can't be clicked again until the transition is done.

                this.transitioning = true;

                if (direction === 'right') {
                    if (this.activeSlide === this.slideCount) {
                        moveToSlide = this.activeSlide + 1;
                        this.activeSlide = 1;
                    } else {
                        this.activeSlide += 1;
                        moveToSlide = this.activeSlide;
                    }
                } else if (direction === 'left') {
                    if (this.activeSlide === 1) {
                        moveToSlide = this.activeSlide - 1;
                        this.activeSlide = this.slideCount;
                    } else {
                        this.activeSlide -= 1;
                        moveToSlide = this.activeSlide;
                    }
                }

                const newPosition = sliderWidth * moveToSlide;

                Velocity(theRail, {
                    translateX: -newPosition,
                }, {
                    duration: 400,
                    easing: 'easeInOutCubic',
                    complete() {
                        component.slideTransitionEnd();
                    },
                });
            }
        },
        slideDotTrigger(i) {
            // This method is being used for explicit slide changes
            // using the dots. Some of what is here is a duplicate
            // of the stuff going on up to in slideMove.
            // This will be cleaned later

            const component = this;
            const theRail = this.$refs.rail;
            const sliderWidth = theRail.parentNode.offsetWidth;
            let newSlide;

            // This vue component comes with a
            // transitioning data flag set to false by default.
            // When the function starts, we check to make sure the flag
            // isnt true to prevent transition conflicts

            if (this.transitioning === false) {
                this.transitioning = true;
                this.activeSlide = i;

                newSlide = this.activeSlide;

                const newPosition = sliderWidth * newSlide;

                Velocity(theRail, {
                    translateX: -newPosition,
                }, {
                    duration: 400,
                    easing: 'easeInOutCubic',
                    complete() {
                        component.slideTransitionEnd();
                    },
                });
            }
        },
        slideTransitionEnd() {
            const component = this;
            const theRail = this.$refs.rail;
            const sliderWidth = theRail.parentNode.offsetWidth;

            component.transitioning = false;

            if (component.activeSlide === 1) {
                Velocity(theRail, { translateX: -sliderWidth }, 0);
            } else if (component.activeSlide === component.slideCount) {
                Velocity(theRail, { translateX: -(sliderWidth * component.slideCount) }, 0);
            }
        },
        autoNextSlide() {
            const slider = this;

            this.autoTimer = setInterval(() => {
                if (slider.focusMode === false) {
                    slider.slideMove('right');
                }
            }, 7000);
        },
    },
};
</script>

<style lang="scss">

    /* ----------------------------- */

    /* SLIDER BASE STYLES (REUSABLE) */

    /* ----------------------------- */

    .slider {
        position: relative;
        height: 510px;
        overflow: hidden;
    }

    .slider__rail {
        position: absolute;
        top: 0;
        height: 100%;
        font-size: 0;
        white-space: nowrap;
        cursor: grab;
        transition: left 0.3s;
    }

    .slide {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        white-space: normal;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .slider__navigation {
        font-size: 0;
    }
</style>
