<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto:300,400,700" rel="stylesheet">
        <title>Marble - A Crowdfunding Micro-Economy</title>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
